Repository tannewt/circuitpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: translations, formatting

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: 2020 Diego Elio Petten√≤
#
# SPDX-License-Identifier: Unlicense

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
        exclude: '^(tests/.*\.exp|tests/cmdline/.*|tests/.*/data/.*|tools/fonts/.*)'
    -   id: trailing-whitespace
        exclude: '^(tests/.*\.exp|tests/cmdline/.*|tests/.*/data/.*|tools/fonts/.*|lib/mbedtls_errors/generate_errors.diff)'
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    -   id: codespell
        args: [-w]
        exclude: |
          (?x)^(
            locale/|
            lib/|
            tools/fonts/
          )
-   repo: local
    hooks:
    -   id: translations
        name: Translations
        entry: sh -c "if ! make check-translate; then make translate; fi"
        types: [c]
        pass_filenames: false
        language: system
    -   id: formatting
        name: Formatting
        entry: python3 tools/codeformat.py
        types_or: [c, python]
        language: system

Allow subclassing deque
  py/objdeque.c
  tests/circuitpython/deque_subclass.py
Due: translations, formatting

stm/boards: Fix USB PID for SparkFun STM32 MicroMod.
  ports/stm/boards/sparkfun_stm32f405_micromod/mpconfigboard.mk
Due: none

Fix C2, H2 and S3 builds
  ports/espressif/Makefile
  ports/espressif/esp-idf-config/sdkconfig-esp32s3.defaults
Due: none

Update to ESP IDF 5.5.1
  .gitmodules
  ports/espressif/Makefile
  ports/espressif/common-hal/alarm/pin/PinAlarm.c
  ports/espressif/common-hal/analogio/AnalogIn.c
  ports/espressif/common-hal/espnow/ESPNow.c
  ports/espressif/common-hal/paralleldisplaybus/ParallelBus.c
  ports/espressif/common-hal/paralleldisplaybus/ParallelBus.h
  ports/espressif/esp-idf-config/partitions-8MB-no-uf2.csv
  ports/espressif/esp-idf-config/sdkconfig.defaults
  ports/espressif/mpconfigport.mk
  ports/espressif/peripherals/pins.h
  py/circuitpy_mpconfig.mk
  supervisor/supervisor.mk
Due: translations, formatting

Tweak coex inclusion (again). The wrapper is always needed with wifi.
  ports/espressif/Makefile
Due: none

Tweak coex inclusion
  ports/espressif/Makefile
Due: none

Limit cryptography version to IDF limit
  requirements-dev.txt
Due: none

Fix PID check and C3 build
  ports/espressif/Makefile
  tools/ci_check_duplicate_usb_vid_pid.py
Due: formatting

Make room of IDF in S2 RTC slow memory
  ports/espressif/esp-idf-config/sdkconfig-esp32s2.defaults
Due: none

Don't duplicate USB callbacks.
  ports/espressif/supervisor/usb.c
  ports/espressif/tools/decode_backtrace.py
  supervisor/shared/usb/usb_device.c
Due: translations, formatting

Disable memory speed optimization on 2m board.
  ports/espressif/boards/ai_thinker_esp32-c3s-2m/sdkconfig
  ports/espressif/esp-idf-config/sdkconfig-opt.defaults
Due: none

[ports/espressif] support for esp32c61
  ports/espressif/Makefile
  ports/espressif/boards/espressif_esp32c61_devkitc_1_n8r2/board.c
  ports/espressif/boards/espressif_esp32c61_devkitc_1_n8r2/mpconfigboard.h
  ports/espressif/boards/espressif_esp32c61_devkitc_1_n8r2/mpconfigboard.mk
  ports/espressif/boards/espressif_esp32c61_devkitc_1_n8r2/pins.c
  ports/espressif/boards/espressif_esp32c61_devkitc_1_n8r2/sdkconfig
  ports/espressif/common-hal/analogbufio/BufferedIn.c
  ports/espressif/common-hal/analogio/AnalogIn.c
  ports/espressif/common-hal/microcontroller/Pin.c
  ports/espressif/common-hal/microcontroller/Processor.c
  ports/espressif/common-hal/microcontroller/__init__.c
  ports/espressif/esp-idf-config/sdkconfig-esp32c61.defaults
  ports/espressif/mpconfigport.h
  ports/espressif/mpconfigport.mk
  ports/espressif/peripherals/esp32c61/pins.c
  ports/espressif/peripherals/esp32c61/pins.h
  ports/espressif/peripherals/pins.h
  ports/espressif/supervisor/port.c
  ports/espressif/tools/build_memory_info.py
Due: translations, formatting

Stop using our own memcpy. Enhance decode backtrace script.
  ports/espressif/Makefile
  ports/espressif/esp-idf-config/sdkconfig-debug.defaults
  ports/espressif/esp-idf-config/sdkconfig.defaults
  ports/espressif/tools/decode_backtrace.py
  py/circuitpy_defns.mk
Due: formatting

Always link coex with wifi. Shrink 2M C3
  ports/espressif/Makefile
  ports/espressif/boards/ai_thinker_esp32-c3s-2m/sdkconfig
Due: none

Make string0 use configurable
  ports/espressif/mpconfigport.mk
  py/circuitpy_defns.mk
  py/circuitpy_mpconfig.mk
Due: none

[ports/espressif] esp-idf v5.5 changes
  ports/espressif/Makefile
  ports/espressif/common-hal/alarm/pin/PinAlarm.c
  ports/espressif/common-hal/digitalio/DigitalInOut.c
  ports/espressif/common-hal/microcontroller/Pin.c
  ports/espressif/common-hal/wifi/__init__.c
Due: translations, formatting

Formatting
  ports/espressif/common-hal/alarm/pin/PinAlarm.c
  ports/espressif/tools/build_memory_info.py
Due: translations, formatting

py/misc.h: prevent clang warning
  py/misc.h
Due: translations, formatting

py/misc.h: test for __cplusplus and __clang__ more carefully
  py/misc.h
Due: translations, formatting

use MP_STATIC_ASSERT_NONCONSTEXPR in ports/analog
  ports/analog/common-hal/digitalio/DigitalInOut.c
Due: translations, formatting

Fix filesystem writability from USB
  extmod/vfs.h
  extmod/vfs_fat.c
  extmod/vfs_fat_diskio.c
  main.c
  supervisor/filesystem.h
  supervisor/shared/filesystem.c
  supervisor/shared/usb/usb_msc_flash.c
Due: translations, formatting

Fix C6 by disabling hardware SHA
  ports/espressif/esp-idf-config/sdkconfig-esp32c6.defaults
Due: none

new location of importlib Traversable
  tools/board_stubs/circuitpython_setboard/__init__.py
Due: formatting

docs: add TilePaletteMapper to pixel_shader allowed types.
  shared-bindings/displayio/TileGrid.c
Due: translations, formatting

Fix SPI DMA on SAMD
  ports/atmel-samd/audio_dma.c
  ports/atmel-samd/common-hal/audiobusio/PDMIn.c
  ports/atmel-samd/common-hal/busio/SPI.c
  ports/atmel-samd/common-hal/imagecapture/ParallelImageCapture.c
  ports/atmel-samd/common-hal/spitarget/SPITarget.c
  ports/atmel-samd/common-hal/spitarget/SPITarget.h
Due: translations, formatting

Restore atmel-samd SD card USB presentation
  ports/atmel-samd/mpconfigport.h
Due: translations, formatting

Clean up two leftovers from debugging
  ports/espressif/esp-idf-config/partitions-8MB-no-uf2.csv
  ports/espressif/tools/decode_backtrace.py
Due: formatting

restrict Python cryptography version
  requirements-dev.txt
Due: none

Fix overriding delay without an OS
  shared-module/max3421e/Max3421E.c
Due: translations, formatting

pin changes
  ports/atmel-samd/boards/microchip_curiosity_circuitpython/pins.c
Due: translations, formatting

board: add board waveshare_esp32_s3_touch_lcd_1_47
  ports/espressif/boards/waveshare_esp32_s3_touch_lcd_1_47/board.c
  ports/espressif/boards/waveshare_esp32_s3_touch_lcd_1_47/mpconfigboard.h
  ports/espressif/boards/waveshare_esp32_s3_touch_lcd_1_47/mpconfigboard.mk
  ports/espressif/boards/waveshare_esp32_s3_touch_lcd_1_47/pins.c
  ports/espressif/boards/waveshare_esp32_s3_touch_lcd_1_47/sdkconfig
Due: translations, formatting

Add Waveshare ESP32S3 Touch LCD 2.8inch display board
  ports/espressif/boards/waveshare_esp32_s3_touch_lcd_2_8/board.c
  ports/espressif/boards/waveshare_esp32_s3_touch_lcd_2_8/mpconfigboard.h
  ports/espressif/boards/waveshare_esp32_s3_touch_lcd_2_8/mpconfigboard.mk
  ports/espressif/boards/waveshare_esp32_s3_touch_lcd_2_8/pins.c
  ports/espressif/boards/waveshare_esp32_s3_touch_lcd_2_8/sdkconfig
Due: translations, formatting

Update pins.c
  ports/atmel-samd/boards/microchip_curiosity_circuitpython/pins.c
Due: translations, formatting

Fix trailing-whitespace and end-of-files
  ports/espressif/boards/waveshare_esp32_s3_touch_lcd_2_8/mpconfigboard.mk
  ports/espressif/boards/waveshare_esp32_s3_touch_lcd_2_8/pins.c
Due: translations, formatting

Remove fallback pin aliases; keep only user-accessible pins
  ports/espressif/boards/waveshare_esp32_s3_touch_lcd_2_8/pins.c
Due: translations, formatting

Add terminalio.Terminal example usage to docstring. Move init function docstring so it appears above the rest of the docs next to the function signature.
  shared-bindings/terminalio/Terminal.c
Due: translations, formatting

finalisers for SPI; clean up sdcardio; reset all pins after finalisers; avoid USB SD races
  main.c
  ports/analog/common-hal/busio/SPI.c
  ports/analog/supervisor/port.c
  ports/atmel-samd/common-hal/busio/SPI.c
  ports/atmel-samd/supervisor/port.c
  ports/broadcom/common-hal/busio/SPI.c
  ports/broadcom/common-hal/busio/SPI.h
  ports/broadcom/supervisor/port.c
  ports/cxd56/common-hal/busio/SPI.c
  ports/cxd56/supervisor/port.c
  ports/espressif/common-hal/busio/I2C.c
  ports/espressif/common-hal/busio/SPI.c
  ports/espressif/common-hal/busio/SPI.h
  ports/espressif/supervisor/port.c
  ports/litex/common-hal/microcontroller/Pin.c
  ports/litex/supervisor/port.c
  ports/mimxrt10xx/common-hal/busio/SPI.c
  ports/mimxrt10xx/common-hal/busio/SPI.h
  ports/mimxrt10xx/supervisor/port.c
  ports/nordic/common-hal/busio/SPI.c
  ports/nordic/common-hal/busio/SPI.h
  ports/nordic/supervisor/port.c
  ports/raspberrypi/common-hal/busio/SPI.c
  ports/raspberrypi/common-hal/busio/SPI.h
  ports/raspberrypi/supervisor/port.c
  ports/renode/common-hal/busio/SPI.c
  ports/silabs/common-hal/busio/SPI.c
  ports/silabs/supervisor/port.c
  ports/stm/common-hal/busio/SPI.c
  ports/stm/supervisor/port.c
  py/mpstate.h
  shared-bindings/busio/SPI.c
  shared-bindings/busio/SPI.h
  shared-bindings/sdcardio/SDCard.c
  shared-bindings/sdcardio/SDCard.h
  shared-module/displayio/__init__.c
  shared-module/sdcardio/SDCard.c
  shared-module/sdcardio/SDCard.h
  shared-module/sdcardio/__init__.c
  supervisor/shared/usb/usb_msc_flash.c
Due: translations, formatting

remove local tracking of never_reset in all common-hal/busio/SPI.c
  ports/analog/common-hal/busio/SPI.c
  ports/broadcom/common-hal/busio/SPI.c
  ports/espressif/common-hal/busio/SPI.c
  ports/espressif/supervisor/port.c
  ports/mimxrt10xx/common-hal/busio/SPI.c
  ports/nordic/common-hal/busio/SPI.c
  ports/raspberrypi/common-hal/busio/SPI.c
  ports/silabs/common-hal/busio/SPI.c
  ports/stm/common-hal/busio/SPI.c
Due: translations, formatting

ports/espressif: add pins for seeed xiao esp32s3 plus board
  ports/espressif/boards/seeed_xiao_esp32_s3_sense/mpconfigboard.h
  ports/espressif/boards/seeed_xiao_esp32_s3_sense/pins.c
Due: translations, formatting
