Repository tannewt/circuitpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: translations, formatting

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: 2020 Diego Elio Petten√≤
#
# SPDX-License-Identifier: Unlicense

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
        exclude: '^(tests/.*\.exp|tests/cmdline/.*|tests/.*/data/.*|tools/fonts/.*)'
    -   id: trailing-whitespace
        exclude: '^(tests/.*\.exp|tests/cmdline/.*|tests/.*/data/.*|tools/fonts/.*|lib/mbedtls_errors/generate_errors.diff)'
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    -   id: codespell
        args: [-w]
        exclude: |
          (?x)^(
            locale/|
            lib/|
            tools/fonts/
          )
-   repo: local
    hooks:
    -   id: translations
        name: Translations
        entry: sh -c "if ! make check-translate; then make translate; fi"
        types: [c]
        pass_filenames: false
        language: system
    -   id: formatting
        name: Formatting
        entry: python3 tools/codeformat.py
        types_or: [c, python]
        language: system

Clanked mipicsi
  locale/circuitpython.pot
  ports/espressif/CMakeLists.txt
  ports/espressif/Makefile
  ports/espressif/common-hal/mipicsi/Camera.c
  ports/espressif/common-hal/mipicsi/Camera.h
  ports/espressif/common-hal/mipicsi/__init__.c
  ports/espressif/mpconfigport.mk
  py/circuitpy_defns.mk
  py/circuitpy_mpconfig.mk
  shared-bindings/mipicsi/Camera.c
  shared-bindings/mipicsi/Camera.h
  shared-bindings/mipicsi/__init__.c
  shared-bindings/mipicsi/__init__.h
Due: translations, formatting

Fix missing compiler defines
  ports/espressif/Makefile
Due: none

Enable wdt on other nordic. Don't crash if not enabled
  ports/zephyr-cp/boards/nordic/nrf54h20dk/board.overlay
  ports/zephyr-cp/boards/nordic/nrf54l15dk/board.overlay
  ports/zephyr-cp/common-hal/watchdog/WatchDogTimer.c
Due: translations, formatting

Tweak comment about lockup reset reason
  ports/zephyr-cp/common-hal/microcontroller/Processor.c
Due: translations, formatting

Remove 7002dk because flash is too small
  ports/zephyr-cp/Kconfig.sysbuild
  ports/zephyr-cp/README.md
  ports/zephyr-cp/boards/board_aliases.cmake
  ports/zephyr-cp/boards/nordic/nrf7002dk/autogen_board_info.toml
  ports/zephyr-cp/boards/nordic/nrf7002dk/board.conf
  ports/zephyr-cp/boards/nordic/nrf7002dk/board.overlay
  ports/zephyr-cp/boards/nordic/nrf7002dk/circuitpython.toml
  ports/zephyr-cp/internal-modules/circuitpython-kconfig/Kconfig
Due: none

Fix espressif for IDF 6.1
  ports/espressif/Makefile
Due: none

espressif: use translation compression level 9 on ESP32-C5 and ESP32-C6
  ports/espressif/mpconfigport.mk
Due: none

storage: release the USB MSC lock in unsafe_disable_usb_drive()
  shared-module/storage/__init__.c
  supervisor/shared/usb/usb_msc_flash.c
  supervisor/usb.h
Due: translations, formatting

Fix pre-commit
  ports/zephyr-cp/boards/nxp/frdm_mcxn947/board.conf
Due: none

py/compile: add optional=True to micropython.native and viper
  docs/troubleshooting.rst
  locale/circuitpython.pot
  py/compile.c
  tests/micropython/decorator_optional.py
  tests/micropython/decorator_optional.py.exp
  tests/micropython/decorator_optional_error.py
  tests/micropython/decorator_optional_error.py.exp
Due: translations, formatting

storage: restore host access on enable_usb_drive(); lock files open for writing
  extmod/vfs_fat.h
  extmod/vfs_fat_file.c
  locale/circuitpython.pot
  shared-bindings/storage/__init__.c
  shared-module/storage/__init__.c
  supervisor/shared/usb/usb_msc_flash.c
  supervisor/stub/filesystem.c
  supervisor/usb.h
Due: translations, formatting

Update translation files
  locale/cs.po
  locale/el.po
  locale/hi.po
  locale/ko.po
  locale/ru.po
  locale/tr.po
Due: none

Add Waveshare ESP32-S3-Touch-LCD-1.69
  ports/espressif/boards/waveshare_esp32_s3_touch_lcd_1_69/board.c
  ports/espressif/boards/waveshare_esp32_s3_touch_lcd_1_69/mpconfigboard.h
  ports/espressif/boards/waveshare_esp32_s3_touch_lcd_1_69/mpconfigboard.mk
  ports/espressif/boards/waveshare_esp32_s3_touch_lcd_1_69/pins.c
  ports/espressif/boards/waveshare_esp32_s3_touch_lcd_1_69/sdkconfig
Due: translations, formatting

py/compile: shrink native/viper optional=True
  docs/troubleshooting.rst
  locale/circuitpython.pot
  py/compile.c
  tests/micropython/decorator_optional_error.py
  tests/micropython/decorator_optional_error.py.exp
Due: translations, formatting

espressif: turn off mDNS browsing
  ports/espressif/esp-idf-config/sdkconfig.defaults
Due: none

mbedtls: use one AES table per direction
  lib/mbedtls_config/tf_psa_crypto_config.h
  ports/espressif/esp-idf-config/sdkconfig.defaults
Due: translations, formatting

Create cytron_maker_sumo_rp2350
  ports/raspberrypi/boards/cytron_maker_sumo_rp2350
Due: none

Delete ports/raspberrypi/boards/cytron_maker_sumo_rp2350
  ports/raspberrypi/boards/cytron_maker_sumo_rp2350
Due: none

raspberrypi: match the W boards' linker limit to CIRCUITPY_FIRMWARE_SIZE
  ports/raspberrypi/boards/cytron_edu_pico_w/link.ld
  ports/raspberrypi/boards/cytron_edu_v2_pico_2w/link.ld
  ports/raspberrypi/boards/ide_tudelft_realpicoexpander/link.ld
  ports/raspberrypi/boards/pajenicko_picopad/link.ld
  ports/raspberrypi/boards/pimoroni_badger2040w/link.ld
  ports/raspberrypi/boards/pimoroni_badger2350/link.ld
  ports/raspberrypi/boards/pimoroni_inky_frame_5_7/link.ld
  ports/raspberrypi/boards/pimoroni_inky_frame_7_3/link.ld
  ports/raspberrypi/boards/pimoroni_pico_dv_base_w/link.ld
  ports/raspberrypi/boards/pimoroni_pico_plus2w/link.ld
  ports/raspberrypi/boards/pimoroni_plasma2040w/link.ld
  ports/raspberrypi/boards/raspberry_pi_pico2_w/link.ld
  ports/raspberrypi/boards/raspberry_pi_pico_w/link.ld
  ports/raspberrypi/boards/sparkfun_thing_plus_rp2350/link.ld
  ports/raspberrypi/mpconfigport.h
Due: translations, formatting

atmel-samd: build samd21 soft-float helpers on routines already linked
  ports/atmel-samd/Makefile
  ports/atmel-samd/libgcc_thumb1.s
Due: none

atmel-samd: share one ADC start/read sequence
  ports/atmel-samd/common-hal/analogio/AnalogIn.c
  ports/atmel-samd/common-hal/microcontroller/Processor.c
  ports/atmel-samd/common-hal/microcontroller/Processor.h
Due: translations, formatting

atmel-samd: share SERCOM pin setup between UART and SPI
  ports/atmel-samd/common-hal/busio/SPI.c
  ports/atmel-samd/common-hal/busio/UART.c
  ports/atmel-samd/common-hal/busio/__init__.c
  ports/atmel-samd/common-hal/busio/__init__.h
Due: translations, formatting

atmel-samd: combine SPI register writes
  ports/atmel-samd/common-hal/busio/SPI.c
Due: translations, formatting

atmel-samd: share the PWM divisor search
  ports/atmel-samd/common-hal/pwmio/PWMOut.c
Due: translations, formatting

atmel-samd: spell out the SPI masked register writes
  ports/atmel-samd/common-hal/busio/SPI.c
Due: translations, formatting

atmel-samd: use the ADC helpers from the peripherals submodule
  ports/atmel-samd/Makefile
  ports/atmel-samd/common-hal/analogio/AnalogIn.c
  ports/atmel-samd/common-hal/microcontroller/Processor.c
  ports/atmel-samd/common-hal/microcontroller/Processor.h
Due: translations, formatting

zephyr-cp: enable adafruit_pixelbuf and _pixelmap with neopixel_write
  ports/zephyr-cp/boards/adafruit/clue_nrf52840_zephyr/autogen_board_info.toml
  ports/zephyr-cp/boards/adafruit/feather_nrf52840_sense_zephyr/autogen_board_info.toml
  ports/zephyr-cp/boards/adafruit/feather_nrf52840_zephyr/autogen_board_info.toml
  ports/zephyr-cp/boards/nordic/nrf5340dk/autogen_board_info.toml
  ports/zephyr-cp/boards/nordic/nrf54l15dk/autogen_board_info.toml
  ports/zephyr-cp/boards/nordic/nrf54lm20dk/autogen_board_info.toml
  ports/zephyr-cp/cptools/build_circuitpython.py
Due: formatting

_pixelmap: give PixelMap() constructor args the MP_ARG_OBJ kind
  shared-bindings/_pixelmap/PixelMap.c
Due: translations, formatting

zephyr-cp: use the SPI emulator's async transfer on native_sim
  ports/zephyr-cp/common-hal/busio/SPI.c
  ports/zephyr-cp/zephyr-config/west.yml
Due: translations, formatting

Only enable MII on SoCs with support for EMAC
  ports/espressif/Makefile
  ports/espressif/common-hal/mii/Ethernet.c
  ports/espressif/common-hal/mii/RMII.c
  ports/espressif/mpconfigport.mk
  py/circuitpy_mpconfig.mk
Due: translations, formatting

Leave %e/%f/%g out of mp_printf() on non-full builds
  py/circuitpy_mpconfig.h
  py/mpconfig.h
  py/mpprint.c
Due: translations, formatting

displayio: fix off-by-one in palette index bounds check
  shared-module/displayio/Palette.c
  shared-module/displayio/TileGrid.c
Due: translations, formatting

busdisplay: drop the old root group on reset
  shared-module/busdisplay/BusDisplay.c
Due: translations, formatting

Add Cytron Maker Sumo RP2350
  ports/raspberrypi/boards/cytron_maker_sumo_rp2350/board.c
  ports/raspberrypi/boards/cytron_maker_sumo_rp2350/mpconfigboard.h
  ports/raspberrypi/boards/cytron_maker_sumo_rp2350/mpconfigboard.mk
  ports/raspberrypi/boards/cytron_maker_sumo_rp2350/pico-sdk-configboard.h
  ports/raspberrypi/boards/cytron_maker_sumo_rp2350/pins.c
Due: translations, formatting

Regenerate zephyr-cp autogen_board_info.toml files
  ports/zephyr-cp/boards/adafruit/feather_rp2040_zephyr/autogen_board_info.toml
  ports/zephyr-cp/boards/native/native_sim/autogen_board_info.toml
  ports/zephyr-cp/boards/native/native_sim_asan/autogen_board_info.toml
  ports/zephyr-cp/boards/native/native_sim_lfs/autogen_board_info.toml
  ports/zephyr-cp/boards/native/nrf5340bsim/autogen_board_info.toml
  ports/zephyr-cp/boards/native/nrf54lm20bsim/autogen_board_info.toml
  ports/zephyr-cp/boards/nordic/nrf54h20dk/autogen_board_info.toml
  ports/zephyr-cp/boards/nordic/nrf54l15tag/autogen_board_info.toml
  ports/zephyr-cp/boards/nordic/nrf7002dk/autogen_board_info.toml
  ports/zephyr-cp/boards/nxp/frdm_mcxn947/autogen_board_info.toml
  ports/zephyr-cp/boards/nxp/frdm_rw612/autogen_board_info.toml
  ports/zephyr-cp/boards/nxp/mimxrt1170_evk/autogen_board_info.toml
  ports/zephyr-cp/boards/raspberrypi/rpi_pico2_w_zephyr/autogen_board_info.toml
  ports/zephyr-cp/boards/raspberrypi/rpi_pico2_zephyr/autogen_board_info.toml
  ports/zephyr-cp/boards/raspberrypi/rpi_pico_w_zephyr/autogen_board_info.toml
  ports/zephyr-cp/boards/raspberrypi/rpi_pico_zephyr/autogen_board_info.toml
  ports/zephyr-cp/boards/renesas/da14695_dk_usb/autogen_board_info.toml
  ports/zephyr-cp/boards/renesas/ek_ra6m5/autogen_board_info.toml
  ports/zephyr-cp/boards/renesas/ek_ra8d1/autogen_board_info.toml
  ports/zephyr-cp/boards/silabs/siwx917_dk2605a/autogen_board_info.toml
  ports/zephyr-cp/boards/st/nucleo_n657x0_q/autogen_board_info.toml
  ports/zephyr-cp/boards/st/nucleo_u575zi_q/autogen_board_info.toml
  ports/zephyr-cp/boards/st/stm32h750b_dk/autogen_board_info.toml
  ports/zephyr-cp/boards/st/stm32h7b3i_dk/autogen_board_info.toml
  ports/zephyr-cp/boards/st/stm32wba65i_dk1/autogen_board_info.toml
Due: none
