Repository tannewt/circuitpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: translations, formatting

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: 2020 Diego Elio Petten√≤
#
# SPDX-License-Identifier: Unlicense

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
        exclude: '^(tests/.*\.exp|tests/cmdline/.*|tests/.*/data/.*|tools/fonts/.*)'
    -   id: trailing-whitespace
        exclude: '^(tests/.*\.exp|tests/cmdline/.*|tests/.*/data/.*|tools/fonts/.*|lib/mbedtls_errors/generate_errors.diff)'
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    -   id: codespell
        args: [-w]
        exclude: |
          (?x)^(
            locale/|
            lib/|
            tools/fonts/
          )
-   repo: local
    hooks:
    -   id: translations
        name: Translations
        entry: sh -c "if ! make check-translate; then make translate; fi"
        types: [c]
        pass_filenames: false
        language: system
    -   id: formatting
        name: Formatting
        entry: python3 tools/codeformat.py
        types_or: [c, python]
        language: system

zephyr-cp: create libcircuitpython.a from scratch on every build
  ports/zephyr-cp/cptools/cpbuild.py
Due: formatting

zephyr-cp: quote the Kconfig fragment list so DEBUG=1 works
  ports/zephyr-cp/Makefile
Due: none

zephyr-cp: do not reconfigure for every language build
  ports/zephyr-cp/Makefile
  ports/zephyr-cp/cptools/build_circuitpython.py
Due: formatting

raspberrypi: rp2pio: claim pinless state machines without a gpio range
  ports/raspberrypi/common-hal/rp2pio/StateMachine.c
Due: translations, formatting

Update to gcc 15.3.Rel1 from 15.2.Rel1
  .devcontainer/cortex-m-toolchain.sh
  .github/actions/deps/external/action.yml
  .github/actions/deps/ports/broadcom/action.yml
Due: none

raspberrypi: add -Wno-array-bounds for mbedtls with gcc 15.3
  ports/raspberrypi/Makefile
Due: none

picogame: restore the panel to RGB565 when a program ends
  main.c
  shared-module/picogame/__init__.c
  shared-module/picogame/__init__.h
Due: translations, formatting

picogame: pack RGB444 on the generic strip path too
  shared-module/picogame/__init__.c
  shared-module/picogame/__init__.h
Due: translations, formatting

atmel-samd: send INVOFF (0x20), not 0x2a, in ST7735 init sequences
  ports/atmel-samd/boards/hallowing_m0_express/board.c
  ports/atmel-samd/boards/pewpew_lcd/board.c
  ports/atmel-samd/boards/pewpew_m4/board.c
  ports/atmel-samd/boards/pybadge/board.c
  ports/atmel-samd/boards/pygamer/board.c
  ports/atmel-samd/boards/ugame10/board.c
Due: translations, formatting

picogame: Canvas.text raises NotImplementedError without fontio
  shared-bindings/picogame/Canvas.c
  shared-module/picogame/Canvas.c
Due: translations, formatting

atmel-samd: enable picogame on pybadge
  ports/atmel-samd/boards/pybadge/mpconfigboard.mk
Due: none

atmel-samd: picogame fast Display backend on the SERCOM SPI DMA
  ports/atmel-samd/common-hal/picogame/Display.c
  ports/atmel-samd/common-hal/picogame/Display.h
Due: translations, formatting

Update .devcontainer/cortex-m-toolchain.sh
  .devcontainer/cortex-m-toolchain.sh
Due: none

espressif: add ESP32-S3-BOX-3 board definition
  ports/espressif/boards/espressif_esp32s3_box_3/board.c
  ports/espressif/boards/espressif_esp32s3_box_3/mpconfigboard.h
  ports/espressif/boards/espressif_esp32s3_box_3/mpconfigboard.mk
  ports/espressif/boards/espressif_esp32s3_box_3/pins.c
  ports/espressif/boards/espressif_esp32s3_box_3/sdkconfig
Due: translations, formatting

Apply batched suggestions from code review
  ports/zephyr-cp/Makefile
  ports/zephyr-cp/cptools/build_circuitpython.py
Due: formatting

allow undo of DEBUG=1 without rm -rf _build/* rm -rf autoapi rm -rf circuitpython-stubs dist *.egg-info
  ports/zephyr-cp/Makefile
Due: none

raspberrypi: build with -O2 plus the two -O3 flags that measure
  ports/raspberrypi/Makefile
  ports/raspberrypi/boards/pajenicko_picopad/mpconfigboard.mk
  ports/raspberrypi/boards/pimoroni_picosystem/mpconfigboard.mk
Due: none

raspberry_pi_pico, raspberry_pi_pico_w: enable picogame
  ports/raspberrypi/boards/raspberry_pi_pico/mpconfigboard.mk
  ports/raspberrypi/boards/raspberry_pi_pico_w/mpconfigboard.mk
Due: none

_bleio HCI: use extended advertising commands on 5.x controllers
  devices/ble_hci/common-hal/_bleio/Adapter.c
  devices/ble_hci/common-hal/_bleio/Adapter.h
  devices/ble_hci/common-hal/_bleio/hci.c
  devices/ble_hci/common-hal/_bleio/hci.h
Due: translations, formatting

_bleio HCI: send ACL data with the non-flushable start PB flag
  devices/ble_hci/common-hal/_bleio/hci.c
Due: translations, formatting

supervisor/usb: map nrf52_errata_199 for the nRF52 TinyUSB driver
  supervisor/shared/usb/tusb_config.h
Due: translations, formatting

lib/tinyusb: bump to master for the ESP32-S2/S3 rx race fix
  supervisor/shared/usb/tusb_config.h
Due: translations, formatting

raspberrypi: add alarm support for RP2350
  ports/raspberrypi/common-hal/alarm/__init__.c
  ports/raspberrypi/common-hal/alarm/__init__.h
  ports/raspberrypi/common-hal/alarm/pin/PinAlarm.c
  ports/raspberrypi/common-hal/alarm/pin/PinAlarm.h
  ports/raspberrypi/common-hal/alarm/time/TimeAlarm.c
  ports/raspberrypi/common-hal/microcontroller/Processor.c
  ports/raspberrypi/mpconfigport.mk
Due: translations, formatting

Provide version
  .github/workflows/zephyr-autogen-pr.yml
Due: none

Include ignored module file
  ports/zephyr-cp/modules/iobroker/zephyr/module.yml
Due: none

Fix nrf52840s with duplicate uses
  ports/zephyr-cp/boards/adafruit/clue_nrf52840_zephyr/board.conf
  ports/zephyr-cp/boards/adafruit/clue_nrf52840_zephyr/board.overlay
  ports/zephyr-cp/boards/adafruit/feather_nrf52840_sense_zephyr/board.overlay
  ports/zephyr-cp/boards/adafruit/feather_nrf52840_zephyr/board.overlay
Due: none

Switch synthio to mp_stream
  shared-bindings/synthio/__init__.c
Due: translations, formatting

Add note about supervisor filesystem APIs
  supervisor/filesystem.h
Due: translations, formatting

raspberrypi: use pico_low_power for RP2350 deep sleep
  ports/raspberrypi/Makefile
  ports/raspberrypi/common-hal/alarm/__init__.c
  ports/raspberrypi/common-hal/alarm/pin/PinAlarm.c
  ports/raspberrypi/common-hal/alarm/pin/PinAlarm.h
  ports/raspberrypi/common-hal/alarm/time/TimeAlarm.c
  ports/raspberrypi/common-hal/alarm/time/TimeAlarm.h
  ports/raspberrypi/link-rp2350.ld
Due: translations, formatting

Switch wavefile to stream too
  shared-bindings/audiocore/WaveFile.c
  shared-bindings/audiocore/WaveFile.h
  shared-bindings/synthio/__init__.c
  shared-module/audiocore/WaveFile.c
  shared-module/audiocore/WaveFile.h
Due: translations, formatting

_bleio HCI: explain the extended advertising enable duration values
  devices/ble_hci/common-hal/_bleio/Adapter.c
Due: translations, formatting

Fix native_sim by adding 1:1 pin mapping
  ports/zephyr-cp/boards/native/native_sim/board.conf
  ports/zephyr-cp/boards/native/native_sim_asan/board.conf
  ports/zephyr-cp/cptools/zephyr2cp.py
  ports/zephyr-cp/modules/iobroker/Kconfig
  ports/zephyr-cp/modules/iobroker/Kconfig.packages
  ports/zephyr-cp/modules/iobroker/README.md
  ports/zephyr-cp/modules/iobroker/src/iobroker.c
Due: translations, formatting

Remove submodules too
  .gitmodules
Due: none

Update eliobot
  ports/espressif/boards/elio_eliobot_s3/board.c
Due: translations, formatting

Remove litex too
  ports/litex/Makefile
  ports/litex/README.rst
  ports/litex/background.c
  ports/litex/background.h
  ports/litex/boards/fomu/board.c
  ports/litex/boards/fomu/csr.h
  ports/litex/boards/fomu/fomu-spi.ld
  ports/litex/boards/fomu/generated/soc.h
  ports/litex/boards/fomu/mpconfigboard.h
  ports/litex/boards/fomu/mpconfigboard.mk
  ports/litex/boards/fomu/pins.c
  ports/litex/boards/fomu/profiling.gdb.txt
  ports/litex/common-hal/digitalio/DigitalInOut.c
  ports/litex/common-hal/digitalio/DigitalInOut.h
  ports/litex/common-hal/digitalio/__init__.c
  ports/litex/common-hal/microcontroller/Pin.c
  ports/litex/common-hal/microcontroller/Pin.h
  ports/litex/common-hal/microcontroller/Processor.c
  ports/litex/common-hal/microcontroller/Processor.h
  ports/litex/common-hal/microcontroller/__init__.c
  ports/litex/common-hal/neopixel_write/__init__.c
  ports/litex/common-hal/os/__init__.c
  ports/litex/common-hal/time/__init__.c
  ports/litex/crt0-vexriscv.S
  ports/litex/hw/common.h
  ports/litex/irq.h
  ports/litex/mpconfigport.h
  ports/litex/mpconfigport.mk
  ports/litex/mphalport.c
  ports/litex/mphalport.h
  ports/litex/qstrdefsport.h
  ports/litex/supervisor/internal_flash.c
  ports/litex/supervisor/internal_flash.h
  ports/litex/supervisor/port.c
  ports/litex/supervisor/usb.c
Due: translations, formatting

Handle removed ports in ci_set_matrix
  tools/ci_set_matrix.py
Due: formatting
