Repository tannewt/circuitpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: translations, formatting

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: 2020 Diego Elio Petten√≤
#
# SPDX-License-Identifier: Unlicense

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
        exclude: '^(tests/.*\.exp|tests/cmdline/.*|tests/.*/data/.*|tools/fonts/.*)'
    -   id: trailing-whitespace
        exclude: '^(tests/.*\.exp|tests/cmdline/.*|tests/.*/data/.*|tools/fonts/.*|lib/mbedtls_errors/generate_errors.diff)'
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    -   id: codespell
        args: [-w]
        exclude: |
          (?x)^(
            locale/|
            lib/|
            tools/fonts/
          )
-   repo: local
    hooks:
    -   id: translations
        name: Translations
        entry: sh -c "if ! make check-translate; then make translate; fi"
        types: [c]
        pass_filenames: false
        language: system
    -   id: formatting
        name: Formatting
        entry: python3 tools/codeformat.py
        types_or: [c, python]
        language: system

Debug first setup failure
  ports/raspberrypi/boards/adafruit_feather_rp2040/board.c
  ports/raspberrypi/boards/adafruit_feather_rp2040/mpconfigboard.h
  ports/raspberrypi/boards/adafruit_feather_rp2040_usb_host/mpconfigboard.h
  ports/raspberrypi/boards/adafruit_metro_rp2040/mpconfigboard.h
  ports/raspberrypi/common-hal/usb_host/Port.c
  ports/raspberrypi/supervisor/port.c
  supervisor/shared/serial.c
Due: translations, formatting

WIP full trace on imx
  ports/mimxrt10xx/boards/ckd_metro_m7_1011_trace/board.c
  ports/mimxrt10xx/boards/ckd_metro_m7_1011_trace/flash_config.c
  ports/mimxrt10xx/boards/ckd_metro_m7_1011_trace/mpconfigboard.h
  ports/mimxrt10xx/boards/ckd_metro_m7_1011_trace/mpconfigboard.mk
  ports/mimxrt10xx/boards/ckd_metro_m7_1011_trace/pins.c
  ports/mimxrt10xx/supervisor/port.c
  py/circuitpy_mpconfig.mk
Due: translations, formatting

Make SD cards available over web workflow
  docs/workflows.md
  extmod/vfs.h
  extmod/vfs_blockdev.c
  extmod/vfs_fat.h
  locale/circuitpython.pot
  ports/espressif/supervisor/internal_flash.c
  shared-bindings/sdcardio/SDCard.c
  shared-bindings/sdcardio/SDCard.h
  shared-bindings/sdioio/SDCard.c
  shared-module/os/getenv.c
  shared-module/sdcardio/SDCard.c
  shared-module/sdcardio/SDCard.h
  shared-module/storage/__init__.c
  supervisor/filesystem.h
  supervisor/shared/background_callback.c
  supervisor/shared/bluetooth/file_transfer.c
  supervisor/shared/filesystem.c
  supervisor/shared/flash.c
  supervisor/shared/usb/usb_msc_flash.c
  supervisor/shared/web_workflow/static/directory.html
  supervisor/shared/web_workflow/static/directory.js
  supervisor/shared/web_workflow/web_workflow.c
  supervisor/shared/workflow.c
  supervisor/shared/workflow.h
  supervisor/usb.h
Due: translations, formatting

pixel addressing
  shared-module/displayio/bus_core.c
Due: translations, formatting

Re-enable paralleldisplaybus on ESP
  ports/atmel-samd/boards/circuitplayground_express_displayio/mpconfigboard.mk
  ports/atmel-samd/boards/matrixportal_m4/mpconfigboard.mk
  ports/atmel-samd/boards/pewpew_m4/mpconfigboard.mk
  ports/atmel-samd/boards/ugame10/mpconfigboard.mk
  ports/espressif/Makefile
  ports/espressif/boards/adafruit_esp32s3_camera/mpconfigboard.mk
  ports/espressif/boards/lilygo_tdisplay_s3/board.c
  ports/espressif/boards/lilygo_tdisplay_s3/mpconfigboard.h
  ports/espressif/boards/lilygo_tdisplay_s3/mpconfigboard.mk
  ports/espressif/boards/lilygo_tdisplay_s3/pins.c
  ports/espressif/boards/lilygo_tdisplay_s3/sdkconfig
  ports/espressif/common-hal/imagecapture/ParallelImageCapture.c
  ports/espressif/common-hal/imagecapture/__init__.c
  ports/espressif/common-hal/imagecapture/__init__.h
  ports/espressif/common-hal/paralleldisplaybus/ParallelBus.c
  ports/espressif/common-hal/paralleldisplaybus/ParallelBus.h
  ports/espressif/mpconfigport.mk
  shared-bindings/paralleldisplaybus/ParallelBus.c
Due: translations, formatting

Update uncrusify
  tools/codeformat.py
  tools/uncrustify-0.72.cfg
  tools/uncrustify-0.77.cfg
Due: formatting

Debug usb host
  ports/raspberrypi/boards/adafruit_feather_rp2040_usb_host/mpconfigboard.h
  supervisor/shared/usb/tusb_config.h
Due: translations, formatting

Switch to IDF 5.2 I2C API
  ports/atmel-samd/common-hal/busio/I2C.c
  ports/broadcom/common-hal/busio/I2C.c
  ports/broadcom/common-hal/busio/I2C.h
  ports/broadcom/supervisor/port.c
  ports/cxd56/common-hal/busio/I2C.c
  ports/cxd56/common-hal/busio/I2C.h
  ports/espressif/Makefile
  ports/espressif/bindings/espidf/__init__.h
  ports/espressif/common-hal/busio/I2C.c
  ports/espressif/common-hal/busio/I2C.h
  ports/espressif/common-hal/espcamera/Camera.c
  ports/espressif/peripherals/i2c.c
  ports/espressif/peripherals/i2c.h
  ports/espressif/supervisor/port.c
  ports/mimxrt10xx/common-hal/busio/I2C.c
  ports/mimxrt10xx/common-hal/busio/I2C.h
  ports/mimxrt10xx/supervisor/port.c
  ports/nordic/common-hal/busio/I2C.c
  ports/nordic/common-hal/busio/I2C.h
  ports/nordic/supervisor/port.c
  ports/raspberrypi/common-hal/busio/I2C.c
  ports/raspberrypi/common-hal/busio/I2C.h
  ports/raspberrypi/supervisor/port.c
  ports/silabs/common-hal/busio/I2C.c
  ports/silabs/common-hal/busio/I2C.h
  ports/silabs/supervisor/port.c
  ports/stm/common-hal/busio/I2C.c
  ports/stm/common-hal/busio/I2C.h
  ports/stm/supervisor/port.c
  shared-bindings/bitbangio/I2C.c
  shared-bindings/busio/I2C.c
  shared-bindings/busio/I2C.h
  shared-module/displayio/__init__.c
Due: translations, formatting

clang fixes
  .github/workflows/build.yml
  .gitmodules
  devices/ble_hci/common-hal/_bleio/Connection.c
  devices/ble_hci/common-hal/_bleio/__init__.c
  lib/AnimatedGIF/gif.c
  main.c
  ports/raspberrypi/Makefile
  ports/raspberrypi/audio_dma.c
  ports/raspberrypi/common-hal/busio/UART.c
  ports/raspberrypi/common-hal/microcontroller/Processor.c
  ports/raspberrypi/common-hal/rp2pio/StateMachine.c
  ports/raspberrypi/mpconfigport.mk
  ports/raspberrypi/supervisor/port.c
  py/circuitpy_defns.mk
  py/mkenv.mk
  py/mpconfig.h
  py/sequence.c
  shared-bindings/busdisplay/BusDisplay.c
  shared-module/bitmaptools/__init__.c
  shared-module/busdisplay/BusDisplay.c
  shared-module/floppyio/__init__.c
  shared-module/synthio/__init__.c
  shared-module/touchio/TouchIn.c
  supervisor/shared/background_callback.c
  supervisor/shared/reload.c
  supervisor/shared/status_leds.c
  supervisor/shared/tick.c
Due: translations, formatting

Add Max3421E support for usb host
  .gitignore
  docs/shared_bindings_matrix.py
  ports/atmel-samd/common-hal/max3421e/Max3421E.c
  ports/atmel-samd/common-hal/max3421e/Max3421E.h
  ports/atmel-samd/eic_handler.c
  ports/atmel-samd/mpconfigport.mk
  ports/espressif/boards/adafruit_feather_esp32s3_nopsram/mpconfigboard.mk
  ports/espressif/common-hal/busio/SPI.c
  ports/espressif/common-hal/busio/SPI.h
  ports/espressif/common-hal/max3421e/Max3421E.c
  ports/espressif/common-hal/max3421e/Max3421E.h
  ports/espressif/common-hal/ps2io/Ps2.c
  ports/nordic/common-hal/max3421e/Max3421E.c
  ports/raspberrypi/Makefile
  ports/raspberrypi/boards/adafruit_feather_rp2040_dvi/mpconfigboard.mk
  ports/raspberrypi/common-hal/max3421e/Max3421E.c
  ports/raspberrypi/mpconfigport.mk
  py/circuitpy_defns.mk
  py/circuitpy_mpconfig.mk
  shared-bindings/fourwire/__init__.c
  shared-bindings/max3421e/Max3421E.c
  shared-bindings/max3421e/Max3421E.h
  shared-bindings/max3421e/__init__.c
  shared-bindings/max3421e/__init__.h
  shared-module/board/__init__.c
  shared-module/max3421e/Max3421E.c
  shared-module/max3421e/Max3421E.h
  shared-module/max3421e/__init__.c
  supervisor/shared/usb/host_keyboard.c
  supervisor/shared/usb/tusb_config.h
  supervisor/shared/usb/usb.c
  supervisor/supervisor.mk
Due: translations, formatting

Build picolibc
  lib/build_picolibc.py
Due: formatting

small tweaks
  lib/picolibc.mk
  ports/raspberrypi/Makefile
  ports/raspberrypi/common-hal/alarm/pin/PinAlarm.c
  shared-module/floppyio/__init__.c
Due: translations, formatting

more work
  lib/build_picolibc.py
Due: formatting

latest & greatest
  lib/build_picolibc.py
Due: formatting

cm33
  lib/build_picolibc.py
Due: formatting

start adding riscv
  lib/build_picolibc.py
Due: formatting

riscv builds
  lib/build_picolibc.py
Due: formatting

blah
  lib/build_picolibc.py
Due: formatting

almost links
  ports/raspberrypi/Makefile
Due: none

links
  lib/build_picolibc.py
  ports/raspberrypi/Makefile
  ports/raspberrypi/boot_stage2.ld
  ports/raspberrypi/link.ld
  ports/raspberrypi/mpconfigport.mk
Due: formatting

more build tweaks
  lib/build_picolibc.py
Due: formatting

consolidate more
  ports/renode/tools/split_profile.py
Due: formatting

Disable profiler by default
  ports/renode/renode.resc
Due: none

Renode hook
  ports/renode/renode.resc
Due: none

Hancho submodule
  .gitmodules
Due: none

hancho start
  circuitpython.hancho
  ports/raspberrypi/boards/adafruit_feather_rp2040/board.hancho
  ports/raspberrypi/rp2040.hancho
Due: none

headerless hancho
  circuitpython.hancho
  ports/raspberrypi/boards/adafruit_feather_rp2040/board.hancho
  ports/raspberrypi/rp2040.hancho
Due: none

More hancho work
  .gitignore
  HANCHO.py
  circuitpython.hancho
  ports/raspberrypi/HANCHO.py
  ports/raspberrypi/boards/adafruit_feather_rp2040/HANCHO.py
  py/makeqstrdefs.py
Due: formatting

need picolibc
  HANCHO.py
  ports/raspberrypi/HANCHO.py
  py/makeqstrdefs.py
Due: formatting

Build picolibc
  HANCHO.py
  lib/picolibc.py
Due: formatting

Rework build dirs and build picolibc
  .gitmodules
  HANCHO.py
  lib/picolibc.py
Due: formatting

hancho update and multicore ninja
  HANCHO.py
  lib/picolibc.py
Due: formatting
