Repository tannewt/circuitpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: translations, formatting

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: 2020 Diego Elio Petten√≤
#
# SPDX-License-Identifier: Unlicense

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
        exclude: '^(tests/.*\.exp|tests/cmdline/.*|tests/.*/data/.*|tools/fonts/.*)'
    -   id: trailing-whitespace
        exclude: '^(tests/.*\.exp|tests/cmdline/.*|tests/.*/data/.*|tools/fonts/.*|lib/mbedtls_errors/generate_errors.diff)'
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    -   id: codespell
        args: [-w]
        exclude: |
          (?x)^(
            locale/|
            lib/|
            tools/fonts/
          )
-   repo: local
    hooks:
    -   id: translations
        name: Translations
        entry: sh -c "if ! make check-translate; then make translate; fi"
        types: [c]
        pass_filenames: false
        language: system
    -   id: formatting
        name: Formatting
        entry: python3 tools/codeformat.py
        types_or: [c, python]
        language: system

Improve writes
  ports/raspberrypi/common-hal/_gbio/__init__.c
Due: translations, formatting

Debugging input value delay
  ports/raspberrypi/common-hal/_gbio/__init__.c
Due: translations, formatting

Don't reset vblank accidentally
  ports/raspberrypi/common-hal/_gbio/__init__.c
Due: translations, formatting

Working pretty well
  ports/raspberrypi/common-hal/_gbio/__init__.c
Due: translations, formatting

More work on running test
  ports/zephyr-cp/tests/board_cache.py
  ports/zephyr-cp/tests/conftest.py
  ports/zephyr-cp/tests/esp.py
  ports/zephyr-cp/tests/harness_client.py
  ports/zephyr-cp/tests/test_digitalio.py
Due: formatting

wip
  ports/zephyr-cp/tests/conftest.py
Due: formatting

Remove lcdc specific API
  shared-bindings/_gbio/__init__.c
Due: translations, formatting

Rework tests so board target is parameterized
  ports/zephyr-cp/tests/board_cache.py
  ports/zephyr-cp/tests/conftest.py
  ports/zephyr-cp/tests/esp.py
Due: formatting

unknown build changes
  .github/actions/deps/ports/zephyr-cp/action.yml
  ports/zephyr-cp/CMakeLists.txt
  ports/zephyr-cp/Makefile
  ports/zephyr-cp/cptools/build_circuitpython.py
  ports/zephyr-cp/cptools/zephyr2cp.py
  tools/build_release_files.py
Due: formatting

zephyr p4
  ports/zephyr-cp/boards/board_aliases.cmake
  ports/zephyr-cp/boards/espressif/esp32p4_function_ev_board/autogen_board_info.toml
  ports/zephyr-cp/boards/espressif/esp32p4_function_ev_board/circuitpython.toml
  ports/zephyr-cp/boards/espressif/esp32p4x_function_ev_board/autogen_board_info.toml
  ports/zephyr-cp/boards/espressif/esp32p4x_function_ev_board/circuitpython.toml
  ports/zephyr-cp/cptools/tests/test_zephyr2cp.py
  ports/zephyr-cp/cptools/zephyr2cp.py
  ports/zephyr-cp/debug.conf
  ports/zephyr-cp/sysbuild.conf
Due: formatting

fix esp32p4 heap overlap and flash init bugs
  ports/zephyr-cp/app.overlay
  ports/zephyr-cp/boards/espressif/esp32p4x_function_ev_board/autogen_board_info.toml
  ports/zephyr-cp/prj.conf
  ports/zephyr-cp/supervisor/flash.c
Due: translations, formatting

Experimental dual usb device
  ports/espressif/Makefile
  ports/espressif/boards/espressif_esp32p4_function_ev/mpconfigboard.h
  ports/espressif/boards/espressif_esp32p4_function_ev/mpconfigboard.mk
  ports/espressif/mpconfigport.mk
  ports/espressif/supervisor/usb.c
  py/circuitpy_mpconfig.h
  shared-module/usb_cdc/__init__.c
  supervisor/shared/usb/tusb_config.h
  supervisor/shared/usb/usb.c
  supervisor/shared/usb/usb_desc.c
  supervisor/shared/usb/usb_device.c
Due: translations, formatting

Changed TUSB_ISO_EP_ATT_ASYNCHRONOUS to TUSB_ISO_EP_ATT_ADAPTIVE for speaker and headset in usb_audio to resolve bug #11216
  shared-module/usb_audio/__init__.c
Due: translations, formatting

sp1 board def, move as much as possible into board specific dir
  ports/nordic/board.h
  ports/nordic/boards/teenage_engineering_sp1/board.c
  ports/nordic/boards/teenage_engineering_sp1/flash_protect.c
  ports/nordic/boards/teenage_engineering_sp1/flash_protect.h
  ports/nordic/boards/teenage_engineering_sp1/mpconfigboard.h
  ports/nordic/boards/teenage_engineering_sp1/mpconfigboard.mk
  ports/nordic/boards/teenage_engineering_sp1/pins.c
  ports/nordic/boards/teenage_engineering_sp1/power_off.c
  ports/nordic/boards/teenage_engineering_sp1/power_off.h
  ports/nordic/boards/teenage_engineering_sp1/wdt.h
  ports/nordic/common-hal/microcontroller/Pin.c
  ports/nordic/common-hal/microcontroller/Pin.h
  ports/nordic/mpconfigport.h
  ports/nordic/supervisor/port.c
Due: translations, formatting

board_wdt_feed() hook, feed watchdog during flash filesystem formatting, removed unused include from nordic/supervisor/port.c
  ports/nordic/background.c
  ports/nordic/background.h
  ports/nordic/boards/teenage_engineering_sp1/board.c
  ports/nordic/boards/teenage_engineering_sp1/mpconfigboard.h
  ports/nordic/mpconfigport.h
  ports/nordic/peripherals/nrf/nvm.c
  ports/nordic/supervisor/port.c
Due: translations, formatting

fix mpconfigport.h, add microcontroller.on_next_reset bootloader support for 16 bit magic, disable CIRCUITPY_SDCARD_USB on SP-1
  ports/nordic/boards/teenage_engineering_sp1/mpconfigboard.h
  ports/nordic/common-hal/microcontroller/__init__.c
  ports/nordic/mpconfigport.h
Due: translations, formatting

use board_background_task() and remove board_wdt_feed. Move background tasks out of peripherals nvm.c to the callsites instead.
  ports/nordic/background.c
  ports/nordic/background.h
  ports/nordic/boards/teenage_engineering_sp1/board.c
  ports/nordic/boards/teenage_engineering_sp1/mpconfigboard.h
  ports/nordic/boards/teenage_engineering_sp1/power_off.c
  ports/nordic/common-hal/nvm/ByteArray.c
  ports/nordic/mpconfigport.h
  ports/nordic/peripherals/nrf/nvm.c
  ports/nordic/supervisor/internal_flash.c
Due: translations, formatting

enable emmc in sp1 board def. add audio drivers as frozen modules
  .gitmodules
  ports/nordic/boards/teenage_engineering_sp1/board.c
  ports/nordic/boards/teenage_engineering_sp1/mpconfigboard.h
  ports/nordic/boards/teenage_engineering_sp1/mpconfigboard.mk
  ports/nordic/common-hal/emmcio/EMMC.c
Due: translations, formatting

defore power off button gesture during filesystem format
  ports/nordic/boards/teenage_engineering_sp1/power_off.c
  ports/nordic/boards/teenage_engineering_sp1/power_off.h
Due: translations, formatting

replace board_wdt_feed() use.
  ports/nordic/common-hal/emmcio/EMMC.c
Due: translations, formatting

Dynamic bus start
  locale/circuitpython.pot
  ports/zephyr-cp/Kconfig
  ports/zephyr-cp/boards/adafruit/feather_nrf52840_zephyr/autogen_board_info.toml
  ports/zephyr-cp/boards/adafruit/feather_nrf52840_zephyr/board.overlay
  ports/zephyr-cp/boards/native/native_sim/autogen_board_info.toml
  ports/zephyr-cp/common-hal/busio/I2C.c
  ports/zephyr-cp/common-hal/busio/I2C.h
  ports/zephyr-cp/common-hal/busio/SPI.c
  ports/zephyr-cp/common-hal/busio/SPI.h
  ports/zephyr-cp/common-hal/busio/UART.c
  ports/zephyr-cp/common-hal/busio/UART.h
  ports/zephyr-cp/common-hal/busio/dynamic_bus.c
  ports/zephyr-cp/common-hal/busio/dynamic_bus.h
  ports/zephyr-cp/common-hal/microcontroller/Pin.c
  ports/zephyr-cp/cptools/zephyr2cp.py
  ports/zephyr-cp/supervisor/port.c
Due: translations, formatting

Moved ADAPTIVE from mic to speaker in headset descriptor
  shared-module/usb_audio/__init__.c
Due: translations, formatting

use busio_i2c
  ports/nordic/boards/teenage_engineering_sp1/board.c
  ports/nordic/boards/teenage_engineering_sp1/mpconfigboard.mk
Due: translations, formatting

Reverted CircuitPython Headset mic Audio Data Endpoint Descriptor to TUSB_ISO_EP_ATT_ASYNCHRONOUS
  shared-module/usb_audio/__init__.c
Due: translations, formatting

use PYEXEC_UNHANDLED_EXCEPTION; remove PYEXEC_EXCEPTION
  main.c
  ports/unix/main.c
  shared/runtime/pyexec.h
Due: translations, formatting

synthio: Fix note dropped when re-pressed after decay
  shared-module/synthio/__init__.c
  tests/circuitpython/synthio_note_repress_after_decay.py
  tests/circuitpython/synthio_note_repress_after_decay.py.exp
Due: translations, formatting

pajenicko_picopad: request 62.5MHz for the ST7789, not 60MHz
  ports/raspberrypi/boards/pajenicko_picopad/board.c
Due: translations, formatting

Slim down CI test
  .github/workflows/run-tests.yml
Due: none

Add freeze property to `audiodelays.PitchShift`
  shared-bindings/audiodelays/PitchShift.c
  shared-bindings/audiodelays/PitchShift.h
  shared-module/audiodelays/PitchShift.c
  shared-module/audiodelays/PitchShift.h
Due: translations, formatting

zephyr-cp: size nvm and storage to a whole erase block on RP2040/RP2350
  ports/zephyr-cp/boards/adafruit/feather_rp2040_zephyr/board.overlay
  ports/zephyr-cp/boards/raspberrypi/rpi_pico2_w_zephyr/board.overlay
  ports/zephyr-cp/boards/raspberrypi/rpi_pico2_zephyr/board.overlay
  ports/zephyr-cp/boards/raspberrypi/rpi_pico_w_zephyr/board.overlay
  ports/zephyr-cp/boards/raspberrypi/rpi_pico_zephyr/board.overlay
Due: none

zephyr-cp: put nvm and circuitpy where ports/raspberrypi has them
  ports/zephyr-cp/boards/adafruit/feather_rp2040_zephyr/board.overlay
  ports/zephyr-cp/boards/raspberrypi/rpi_pico2_w_zephyr/board.overlay
  ports/zephyr-cp/boards/raspberrypi/rpi_pico2_zephyr/board.overlay
  ports/zephyr-cp/boards/raspberrypi/rpi_pico_w_zephyr/board.overlay
  ports/zephyr-cp/boards/raspberrypi/rpi_pico_zephyr/board.overlay
Due: none

more info
  ports/zephyr-cp/tests/__init__.py
Due: formatting

Run Zephyr tests in their own workflow
  .github/workflows/build.yml
  .github/workflows/run-tests.yml
  .github/workflows/run-zephyr-tests.yml
  tools/ci_set_matrix.py
Due: formatting

Drop the inline comment on ports' needs
  .github/workflows/build.yml
Due: none

more debugging
  .github/workflows/run-tests.yml
  ports/zephyr-cp/common-hal/microcontroller/__init__.c
  ports/zephyr-cp/supervisor/port.c
  supervisor/shared/safe_mode.c
Due: translations, formatting

debug log to stderr
  ports/zephyr-cp/common-hal/microcontroller/__init__.c
  ports/zephyr-cp/supervisor/port.c
Due: translations, formatting

run it a bunch
  .github/workflows/run-tests.yml
  ports/zephyr-cp/supervisor/port.c
Due: translations, formatting

Debug in reset
  ports/zephyr-cp/supervisor/port.c
Due: translations, formatting

Bounds fixes
  ports/zephyr-cp/tests/conftest.py
  shared-module/terminalio/Terminal.c
  shared/runtime/stdout_helpers.c
Due: translations, formatting

Fix posix thread info
  ports/zephyr-cp/supervisor/port.c
Due: translations, formatting
