Repository tannewt/circuitpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: translations, formatting

translations:
  name: Translations
  entry: sh -c "if ! make check-translate; then make translate; fi"
  pass_filenames: false
  language: system

formatting:
  name: Formatting
  entry: python3 tools/codeformat.py
  language: system

fix hashlib.new() documentation comment
  shared-bindings/hashlib/__init__.c
Due: translations, formatting

Add board.DISPLAY()
  ports/espressif/boards/m5stack_tab5/pins.c
Due: translations, formatting

Fix USB on P4 EV
  ports/espressif/boards/espressif_esp32p4_function_ev/mpconfigboard.h
  ports/espressif/mpconfigport.h
  ports/espressif/supervisor/usb.c
Due: translations, formatting

correct pin order
  ports/raspberrypi/boards/studiolab_picoexpander/mpconfigboard.h
  ports/raspberrypi/boards/studiolab_picoexpander/mpconfigboard.mk
  ports/raspberrypi/boards/studiolab_picoexpander/pins.c
Due: translations, formatting

Correct board name
  ports/raspberrypi/boards/studiolab_picoexpander/mpconfigboard.h
Due: translations, formatting

Fix zephyr_i2c stub
  ports/zephyr-cp/bindings/zephyr_i2c/I2C.c
Due: translations, formatting

Update translation files
  locale/cs.po
  locale/el.po
  locale/hi.po
  locale/ko.po
  locale/ru.po
  locale/tr.po
Due: none

Switch to Zephyr USB + QoL changes
  main.c
  ports/zephyr-cp/app.overlay
  ports/zephyr-cp/boards/board_aliases.cmake
  ports/zephyr-cp/boards/frdm_mcxn947_mcxn947_cpu0.overlay
  ports/zephyr-cp/boards/mimxrt1170_evk_mimxrt1176_cm7.overlay
  ports/zephyr-cp/boards/nordic/nrf54h20dk/autogen_board_info.toml
  ports/zephyr-cp/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
  ports/zephyr-cp/boards/nrf54l15dk_nrf54l15_cpuapp.overlay
  ports/zephyr-cp/boards/nucleo_n657x0_q.overlay
  ports/zephyr-cp/boards/nxp/frdm_mcxn947/autogen_board_info.toml
  ports/zephyr-cp/boards/nxp/frdm_mcxn947/circuitpython.toml
  ports/zephyr-cp/boards/nxp/mimxrt1170_evk/autogen_board_info.toml
  ports/zephyr-cp/boards/nxp/mimxrt1170_evk/circuitpython.toml
  ports/zephyr-cp/boards/renesas/ek_ra6m5/circuitpython.toml
  ports/zephyr-cp/boards/renesas/ek_ra8d1/autogen_board_info.toml
  ports/zephyr-cp/boards/st/nucleo_n657x0_q/autogen_board_info.toml
  ports/zephyr-cp/common-hal/busio/UART.c
  ports/zephyr-cp/common-hal/busio/UART.h
  ports/zephyr-cp/common-hal/usb_cdc/Serial.c
  ports/zephyr-cp/common-hal/usb_cdc/Serial.h
  ports/zephyr-cp/common-hal/usb_cdc/__init__.c
  ports/zephyr-cp/common-hal/usb_cdc/__init__.h
  ports/zephyr-cp/cptools/build_circuitpython.py
  ports/zephyr-cp/cptools/zephyr2cp.py
  ports/zephyr-cp/prj.conf
  ports/zephyr-cp/supervisor/port.c
  ports/zephyr-cp/supervisor/serial.c
  ports/zephyr-cp/supervisor/usb.c
  ports/zephyr-cp/supervisor/zephyr-cp.h
  py/circuitpy_mpconfig.h
  shared-bindings/sdcardio/SDCard.c
  shared-bindings/supervisor/Runtime.c
  shared-bindings/usb_cdc/Serial.c
  shared-bindings/usb_cdc/Serial.h
  shared-bindings/usb_cdc/__init__.h
  supervisor/shared/serial.c
  supervisor/shared/usb.c
  supervisor/shared/usb/usb.c
  supervisor/shared/workflow.c
  supervisor/usb.h
Due: translations, formatting

Add new usb.c to old builds
  supervisor/supervisor.mk
Due: none

Fix host-only tinyusb builds
  supervisor/shared/usb/usb.c
Due: translations, formatting

First claude stab at audiobusio
  ports/zephyr-cp/background.c
  ports/zephyr-cp/boards/frdm_mcxn947_mcxn947_cpu0.conf
  ports/zephyr-cp/boards/mimxrt1170_evk_mimxrt1176_cm7.conf
  ports/zephyr-cp/boards/nordic/nrf5340dk/autogen_board_info.toml
  ports/zephyr-cp/boards/nordic/nrf54h20dk/autogen_board_info.toml
  ports/zephyr-cp/boards/nordic/nrf54l15dk/autogen_board_info.toml
  ports/zephyr-cp/boards/nordic/nrf7002dk/autogen_board_info.toml
  ports/zephyr-cp/boards/nxp/frdm_mcxn947/autogen_board_info.toml
  ports/zephyr-cp/boards/nxp/mimxrt1170_evk/autogen_board_info.toml
  ports/zephyr-cp/boards/renesas/ek_ra6m5/autogen_board_info.toml
  ports/zephyr-cp/boards/renesas/ek_ra8d1/autogen_board_info.toml
  ports/zephyr-cp/boards/st/nucleo_n657x0_q/autogen_board_info.toml
  ports/zephyr-cp/boards/st/nucleo_u575zi_q/autogen_board_info.toml
  ports/zephyr-cp/boards/st/stm32h7b3i_dk/autogen_board_info.toml
  ports/zephyr-cp/common-hal/audiobusio/I2SOut.c
  ports/zephyr-cp/common-hal/audiobusio/I2SOut.h
  ports/zephyr-cp/common-hal/audiobusio/PDMIn.c
  ports/zephyr-cp/common-hal/audiobusio/PDMIn.h
  ports/zephyr-cp/common-hal/audiobusio/__init__.c
  ports/zephyr-cp/common-hal/audiobusio/__init__.h
  ports/zephyr-cp/cptools/build_circuitpython.py
  ports/zephyr-cp/cptools/zephyr2cp.py
  ports/zephyr-cp/prj.conf
Due: translations, formatting

Getting further with I2S
  ports/zephyr-cp/boards/board_aliases.cmake
  ports/zephyr-cp/common-hal/audiobusio/I2SOut.c
  ports/zephyr-cp/common-hal/zephyr_kernel/__init__.c
Due: translations, formatting

Remove never_reset from atmel-samd port
  ports/atmel-samd/boards/aloriumtech_evo_m51/board.c
  ports/atmel-samd/boards/hallowing_m0_express/board.c
  ports/atmel-samd/boards/hallowing_m4_express/board.c
  ports/atmel-samd/boards/monster_m4sk/board.c
  ports/atmel-samd/boards/openbook_m4/board.c
  ports/atmel-samd/boards/pewpew_lcd/board.c
  ports/atmel-samd/boards/pewpew_m4/board.c
  ports/atmel-samd/boards/pybadge/board.c
  ports/atmel-samd/boards/pycubed/board.c
  ports/atmel-samd/boards/pycubed_mram/board.c
  ports/atmel-samd/boards/pycubed_mram_v05/board.c
  ports/atmel-samd/boards/pycubed_v05/board.c
  ports/atmel-samd/boards/pygamer/board.c
  ports/atmel-samd/boards/seeeduino_wio_terminal/board.c
  ports/atmel-samd/boards/sparkfun_samd51_micromod/board.c
  ports/atmel-samd/boards/uchip/board.c
  ports/atmel-samd/common-hal/busio/I2C.c
  ports/atmel-samd/common-hal/busio/SPI.c
  ports/atmel-samd/common-hal/busio/UART.c
  ports/atmel-samd/common-hal/busio/__init__.c
  ports/atmel-samd/common-hal/busio/__init__.h
  ports/atmel-samd/common-hal/canio/CAN.c
  ports/atmel-samd/common-hal/digitalio/DigitalInOut.c
  ports/atmel-samd/common-hal/microcontroller/Pin.c
  ports/atmel-samd/common-hal/microcontroller/Pin.h
  ports/atmel-samd/common-hal/paralleldisplaybus/ParallelBus.c
  ports/atmel-samd/common-hal/pwmio/PWMOut.c
  ports/atmel-samd/common-hal/sdioio/SDCard.c
  ports/atmel-samd/supervisor/port.c
  ports/atmel-samd/supervisor/qspi_flash.c
Due: translations, formatting

Remove never_reset from stm port
  ports/stm/boards/blues_cygnet/board.c
  ports/stm/boards/meowbit_v121/board.c
  ports/stm/boards/stm32f746g_discovery/board.c
  ports/stm/boards/swan_r5/board.c
  ports/stm/common-hal/alarm/pin/PinAlarm.c
  ports/stm/common-hal/busio/I2C.c
  ports/stm/common-hal/busio/SPI.c
  ports/stm/common-hal/busio/UART.c
  ports/stm/common-hal/busio/UART.h
  ports/stm/common-hal/digitalio/DigitalInOut.c
  ports/stm/common-hal/microcontroller/Pin.c
  ports/stm/common-hal/microcontroller/Pin.h
  ports/stm/common-hal/pwmio/PWMOut.c
  ports/stm/common-hal/rgbmatrix/RGBMatrix.c
  ports/stm/common-hal/sdioio/SDCard.c
  ports/stm/common-hal/sdioio/SDCard.h
  ports/stm/peripherals/exti.c
  ports/stm/peripherals/exti.h
  ports/stm/peripherals/sdram.c
  ports/stm/peripherals/stm32f4/stm32f401xe/gpio.c
  ports/stm/peripherals/stm32f4/stm32f405xx/gpio.c
  ports/stm/peripherals/stm32f4/stm32f407xx/gpio.c
  ports/stm/peripherals/stm32f4/stm32f411xe/gpio.c
  ports/stm/peripherals/stm32f4/stm32f412cx/gpio.c
  ports/stm/peripherals/stm32f4/stm32f412zx/gpio.c
  ports/stm/peripherals/stm32f4/stm32f446xx/gpio.c
  ports/stm/peripherals/stm32f7/stm32f746xx/gpio.c
  ports/stm/peripherals/stm32f7/stm32f767xx/gpio.c
  ports/stm/peripherals/stm32h7/stm32h743xx/gpio.c
  ports/stm/peripherals/stm32h7/stm32h750xx/gpio.c
  ports/stm/peripherals/stm32l4/stm32l433xx/gpio.c
  ports/stm/peripherals/stm32l4/stm32l4r5xx/gpio.c
  ports/stm/peripherals/timers.c
  ports/stm/peripherals/timers.h
  ports/stm/supervisor/port.c
  ports/stm/supervisor/usb.c
Due: translations, formatting

Remove never_reset from nordic port
  CLAUDE.md
  ports/nordic/boards/bluemicro833/board.c
  ports/nordic/boards/clue_nrf52840_express/board.c
  ports/nordic/boards/espruino_banglejs2/board.c
  ports/nordic/boards/hiibot_bluefi/board.c
  ports/nordic/boards/makerdiary_m60_keyboard/board.c
  ports/nordic/boards/makerdiary_nrf52840_m2_devkit/board.c
  ports/nordic/boards/ohs2020_badge/board.c
  ports/nordic/common-hal/busio/I2C.c
  ports/nordic/common-hal/busio/SPI.c
  ports/nordic/common-hal/busio/UART.c
  ports/nordic/common-hal/digitalio/DigitalInOut.c
  ports/nordic/common-hal/microcontroller/Pin.c
  ports/nordic/common-hal/microcontroller/Pin.h
  ports/nordic/common-hal/paralleldisplaybus/ParallelBus.c
  ports/nordic/common-hal/pwmio/PWMOut.c
  ports/nordic/common-hal/rgbmatrix/RGBMatrix.c
  ports/nordic/peripherals/nrf/timers.c
  ports/nordic/peripherals/nrf/timers.h
  ports/nordic/supervisor/port.c
Due: translations, formatting

Remove never_reset from litex port
  ports/litex/common-hal/digitalio/DigitalInOut.c
  ports/litex/common-hal/microcontroller/Pin.h
Due: translations, formatting

Remove never_reset from renode port
  ports/renode/common-hal/busio/I2C.c
  ports/renode/common-hal/busio/SPI.c
  ports/renode/common-hal/busio/UART.c
  ports/renode/common-hal/microcontroller/Pin.c
  ports/renode/common-hal/microcontroller/Pin.h
Due: translations, formatting

Remove never_reset from zephyr-cp port
  ports/zephyr-cp/common-hal/busio/I2C.c
  ports/zephyr-cp/common-hal/busio/SPI.c
  ports/zephyr-cp/common-hal/busio/UART.c
  ports/zephyr-cp/common-hal/digitalio/DigitalInOut.c
  ports/zephyr-cp/common-hal/microcontroller/Pin.c
Due: translations, formatting

Remove never_reset from cxd56 port
  ports/cxd56/common-hal/busio/I2C.c
  ports/cxd56/common-hal/busio/SPI.c
  ports/cxd56/common-hal/digitalio/DigitalInOut.c
  ports/cxd56/common-hal/microcontroller/Pin.c
  ports/cxd56/common-hal/microcontroller/Pin.h
  ports/cxd56/common-hal/pwmio/PWMOut.c
  ports/cxd56/common-hal/sdioio/SDCard.c
Due: translations, formatting

Remove never_reset from analog port
  ports/analog/common-hal/busio/I2C.c
  ports/analog/common-hal/busio/SPI.c
  ports/analog/common-hal/busio/UART.c
  ports/analog/common-hal/digitalio/DigitalInOut.c
  ports/analog/common-hal/microcontroller/Pin.c
Due: translations, formatting

Remove never_reset from mimxrt10xx port
  ports/mimxrt10xx/common-hal/busio/I2C.c
  ports/mimxrt10xx/common-hal/busio/SPI.c
  ports/mimxrt10xx/common-hal/busio/UART.c
  ports/mimxrt10xx/common-hal/digitalio/DigitalInOut.c
  ports/mimxrt10xx/common-hal/microcontroller/Pin.c
  ports/mimxrt10xx/common-hal/pwmio/PWMOut.c
Due: translations, formatting

Remove never_reset from silabs port
  ports/silabs/common-hal/busio/I2C.c
  ports/silabs/common-hal/busio/SPI.c
  ports/silabs/common-hal/busio/UART.c
  ports/silabs/common-hal/digitalio/DigitalInOut.c
  ports/silabs/common-hal/microcontroller/Pin.c
  ports/silabs/common-hal/pwmio/PWMOut.c
  ports/silabs/supervisor/serial.c
Due: translations, formatting

Remove never_reset from broadcom port
  ports/broadcom/common-hal/busio/I2C.c
  ports/broadcom/common-hal/busio/SPI.c
  ports/broadcom/common-hal/busio/UART.c
  ports/broadcom/common-hal/digitalio/DigitalInOut.c
  ports/broadcom/common-hal/microcontroller/Pin.c
  ports/broadcom/common-hal/microcontroller/Pin.h
  ports/broadcom/common-hal/sdioio/SDCard.c
  ports/broadcom/supervisor/internal_flash.c
Due: translations, formatting

Clean up leftover never_reset references from espressif and raspberrypi ports
  ports/espressif/common-hal/microcontroller/Pin.h
  ports/espressif/common-hal/mipidsi/Display.c
  ports/raspberrypi/common-hal/microcontroller/Pin.h
  ports/raspberrypi/common-hal/picodvi/Framebuffer_RP2040.c
  ports/raspberrypi/common-hal/picodvi/Framebuffer_RP2350.c
  ports/raspberrypi/common-hal/pwmio/PWMOut.c
  ports/raspberrypi/common-hal/rp2pio/StateMachine.h
Due: translations, formatting

Remove remaining never_reset infrastructure from supervisor and shared code
  ports/atmel-samd/boards/winterbloom_big_honking_button/usermods/_bhb/bhb.c
  ports/espressif/module/cardputer_keyboard.c
  ports/espressif/supervisor/port.c
  ports/mimxrt10xx/supervisor/port.c
  ports/raspberrypi/supervisor/port.c
  shared-bindings/rgbmatrix/RGBMatrix.c
  shared-module/keypad/__init__.h
  supervisor/shared/external_flash/spi_flash.c
  supervisor/shared/serial.c
  supervisor/shared/status_leds.c
Due: translations, formatting

Remove never_reset reference from comment in analog port
  ports/analog/supervisor/usb.c
Due: translations, formatting

Build fixes
  .pre-commit-config.yaml
  ports/atmel-samd/common-hal/busio/I2C.c
  ports/atmel-samd/common-hal/busio/SPI.c
  shared-bindings/rgbmatrix/RGBMatrix.c
Due: translations, formatting

USB WIP
  .gitmodules
  ports/zephyr-cp/boards/native/native_sim/autogen_board_info.toml
  ports/zephyr-cp/boards/native_sim.conf
  ports/zephyr-cp/boards/native_sim.overlay
  ports/zephyr-cp/supervisor/usb.c
  ports/zephyr-cp/tests/conftest.py
  ports/zephyr-cp/tests/test_usbip.py
  shared-bindings/busio/UART.h
  supervisor/shared/workflow.c
Due: translations, formatting

First agent pass at sim host network
  .gitignore
  locale/circuitpython.pot
  ports/zephyr-cp/bindings/hostnetwork/HostNetwork.c
  ports/zephyr-cp/bindings/hostnetwork/HostNetwork.h
  ports/zephyr-cp/bindings/hostnetwork/__init__.c
  ports/zephyr-cp/bindings/hostnetwork/__init__.h
  ports/zephyr-cp/boards/native/native_sim/autogen_board_info.toml
  ports/zephyr-cp/boards/native_sim.conf
  ports/zephyr-cp/boards/nordic/nrf7002dk/autogen_board_info.toml
  ports/zephyr-cp/common-hal/hostnetwork/HostNetwork.c
  ports/zephyr-cp/common-hal/hostnetwork/HostNetwork.h
  ports/zephyr-cp/common-hal/socketpool/Socket.c
  ports/zephyr-cp/common-hal/socketpool/SocketPool.c
  ports/zephyr-cp/common-hal/socketpool/SocketPool.h
  ports/zephyr-cp/cptools/build_circuitpython.py
  ports/zephyr-cp/cptools/zephyr2cp.py
  ports/zephyr-cp/tests/docs/web_workflow.md
  ports/zephyr-cp/tests/test_web_workflow.py
  shared-bindings/socketpool/SocketPool.c
  shared-module/os/getenv.c
  supervisor/shared/web_workflow/web_workflow.c
  supervisor/shared/web_workflow/web_workflow.h
Due: translations, formatting

Issue triage script
  tools/triage_circuitpython_issue.py
Due: formatting

WIP usbip
  ports/zephyr-cp/CMakeLists.txt
  ports/zephyr-cp/boards/native/native_sim/autogen_board_info.toml
  ports/zephyr-cp/boards/native_sim.conf
  ports/zephyr-cp/boards/native_sim.overlay
  ports/zephyr-cp/common-hal/usb_cdc/Serial.c
  ports/zephyr-cp/supervisor/port.c
  ports/zephyr-cp/supervisor/serial.c
  ports/zephyr-cp/supervisor/usb.c
  ports/zephyr-cp/supervisor/zephyr-cp.h
  ports/zephyr-cp/tests/__init__.py
  ports/zephyr-cp/tests/conftest.py
  ports/zephyr-cp/tests/test_usbip.py
  supervisor/shared/workflow.c
Due: translations, formatting

Add container images and CI workflow for containerized builds
  .dockerignore
  .github/workflows/build-boards.yml
  .github/workflows/build-containers.yml
  .github/workflows/build.yml
  containers/PLAN.md
  containers/base/.dockerignore
  containers/base/Dockerfile
  containers/cortex-m/Dockerfile
  containers/dev/Dockerfile
  containers/espressif/Dockerfile
  containers/source-overlay/Dockerfile
  containers/zephyr/Dockerfile
Due: none

Trigger container build
  .github/workflows/build-containers.yml
  containers/base/Dockerfile
  containers/zephyr/Dockerfile
Due: none

Containerize zephyr builds
  .devcontainer/zephyr-cp/devcontainer.json
  .dockerignore
  .github/workflows/build-boards.yml
  .github/workflows/build-zephyr-container.yml
  .github/workflows/build.yml
  .github/workflows/run-tests.yml
  ports/zephyr-cp/Dockerfile
  ports/zephyr-cp/entrypoint.sh
Due: none

Adjust for current owner
  .github/workflows/build-zephyr-container.yml
  .github/workflows/run-tests.yml
Due: none

Relax permissions
  .github/workflows/run-tests.yml
Due: none

Path conditions:
  translations: any of: \.(c|h)$
  formatting: any of: \.(c|h)$, \.py$
