Repository tannewt/circuitpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: translations, formatting

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: 2020 Diego Elio Petten√≤
#
# SPDX-License-Identifier: Unlicense

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
        exclude: '^(tests/.*\.exp|tests/cmdline/.*|tests/.*/data/.*|tools/fonts/.*)'
    -   id: trailing-whitespace
        exclude: '^(tests/.*\.exp|tests/cmdline/.*|tests/.*/data/.*|tools/fonts/.*|lib/mbedtls_errors/generate_errors.diff)'
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    -   id: codespell
        args: [-w]
        exclude: |
          (?x)^(
            locale/|
            lib/|
            tools/fonts/
          )
-   repo: local
    hooks:
    -   id: translations
        name: Translations
        entry: sh -c "if ! make check-translate; then make translate; fi"
        types: [c]
        pass_filenames: false
        language: system
    -   id: formatting
        name: Formatting
        entry: python3 tools/codeformat.py
        types_or: [c, python]
        language: system

Fix tests
  extmod/vfs.c
Due: translations, formatting

Use ulab function-pointer dispatch when CIRCUITPY_ULAB_OPTIMIZE_SIZE=1
  ports/nordic/mpconfigport.mk
  py/circuitpy_mpconfig.mk
  py/py.mk
Due: none

py/py.mk: Restore linking of user C module assembly objects
  py/py.mk
Due: none

atmel-samd: Only optimize ulab for size on SAMx5x chips without 1MB flash
  ports/atmel-samd/mpconfigport.mk
Due: none

alarm.time.TimeAlarm: avoid soft-float uint64 conversion
  shared-bindings/alarm/time/TimeAlarm.c
Due: translations, formatting

Switch lvfontio over too
  ports/zephyr-cp/boards/README.md
  ports/zephyr-cp/tests/lvfontio/golden/lvfontio_terminal_320x240.png
  ports/zephyr-cp/tests/test_lvfontio.py
  py/circuitpy_defns.mk
  py/moderrno.c
  shared-module/lvfontio/OnDiskFont.c
  shared-module/lvfontio/OnDiskFont.h
  supervisor/shared/filesystem.c
Due: translations, formatting

atmel-samd: load native .mpy on hallowing_m4_express and uartlogger2
  ports/atmel-samd/boards/hallowing_m4_express/mpconfigboard.mk
  ports/atmel-samd/boards/uartlogger2/mpconfigboard.mk
Due: none

nordic: turn the native .mpy loader back on for 15 nRF52 boards
  ports/nordic/boards/ADM_B_NRF52840_1/mpconfigboard.mk
  ports/nordic/boards/bless_dev_board_multi_sensor/mpconfigboard.mk
  ports/nordic/boards/bluemicro840/mpconfigboard.mk
  ports/nordic/boards/electronut_labs_blip/mpconfigboard.mk
  ports/nordic/boards/electronut_labs_papyr/mpconfigboard.mk
  ports/nordic/boards/makerdiary_nrf52840_mdk_usb_dongle/mpconfigboard.mk
  ports/nordic/boards/nice_nano/mpconfigboard.mk
  ports/nordic/boards/pca10059/mpconfigboard.mk
  ports/nordic/boards/pillbug/mpconfigboard.mk
  ports/nordic/boards/raytac_mdbt50q-db-40/mpconfigboard.mk
  ports/nordic/boards/raytac_mdbt50q-rx/mpconfigboard.mk
  ports/nordic/boards/ssci_isp1807_dev_board/mpconfigboard.mk
  ports/nordic/boards/ssci_isp1807_micro_board/mpconfigboard.mk
  ports/nordic/boards/supermini_nrf52840/mpconfigboard.mk
  ports/nordic/boards/teknikio_bluebird/mpconfigboard.mk
Due: none

qstr: store ROM pool strings in a blob with 16-bit offsets (variant A)
  py/makeqstrdata.py
  py/maketranslationdata.py
  py/qstr.c
  py/qstr.h
  supervisor/shared/translate/translate_impl.h
  tools/makemanifest.py
  tools/mpy-tool.py
Due: translations, formatting

Add test file explicitly
  ports/zephyr-cp/tests/lvfontio/unifont-16.0.02-ja.bin
Due: none

Report firmware sizes from CI
  .github/workflows/build-boards.yml
  .github/workflows/build.yml
  .gitignore
  tools/build_release_files.py
  tools/ci_firmware_sizes.py
Due: formatting

Upload the firmware size report to S3
  .github/workflows/build.yml
  tools/ci_firmware_sizes.py
Due: formatting

hmac: drop the "HMAC operation failed" message
  locale/circuitpython.pot
  shared-module/hmac/HMAC.c
Due: translations, formatting

nordic: turn the native .mpy loader back on for bluemicro833 and pca10100
  ports/nordic/boards/bluemicro833/mpconfigboard.mk
  ports/nordic/boards/pca10100/mpconfigboard.mk
Due: none

Make MICROPY_PY_DOUBLE_TYPECODE cover every 'd' typecode path
  docs/library/array.rst
  py/binary.c
  shared-bindings/struct/__init__.c
Due: translations, formatting

Upload the size reports unzipped as 0-sizes.html and 0-sizes.json
  .github/workflows/build-boards.yml
  .github/workflows/build.yml
  tools/ci_firmware_sizes.py
Due: formatting

Add ELIO Eliobot S3 board
  ports/espressif/boards/elio_eliobot_s3/board.c
  ports/espressif/boards/elio_eliobot_s3/mpconfigboard.h
  ports/espressif/boards/elio_eliobot_s3/mpconfigboard.mk
  ports/espressif/boards/elio_eliobot_s3/pins.c
  ports/espressif/boards/elio_eliobot_s3/sdkconfig
Due: translations, formatting

Fetch the size records by exact artifact name
  .github/workflows/build.yml
  .gitignore
  tools/ci_download_sizes.mjs
Due: none

rename studiolab picoexpander
  ports/raspberrypi/boards/ide_tudelft_realpicoexpander/board.c
  ports/raspberrypi/boards/ide_tudelft_realpicoexpander/link.ld
  ports/raspberrypi/boards/ide_tudelft_realpicoexpander/mpconfigboard.h
  ports/raspberrypi/boards/ide_tudelft_realpicoexpander/mpconfigboard.mk
  ports/raspberrypi/boards/ide_tudelft_realpicoexpander/pico-sdk-configboard.h
  ports/raspberrypi/boards/ide_tudelft_realpicoexpander/pins.c
Due: translations, formatting

correct naming
  ports/raspberrypi/boards/ide_tudelft_realpicoexpander/mpconfigboard.h
  ports/raspberrypi/boards/ide_tudelft_realpicoexpander/mpconfigboard.mk
  ports/raspberrypi/boards/ide_tudelft_realpicoexpander/pins.c
Due: translations, formatting

Update translation files
  locale/cs.po
  locale/el.po
  locale/hi.po
  locale/ko.po
  locale/ru.po
  locale/tr.po
Due: none

Recover some default pin states we may still need
  ports/espressif/common-hal/microcontroller/Pin.c
  ports/espressif/common-hal/microcontroller/Pin.h
  ports/espressif/supervisor/port.c
  ports/nordic/boards/teenage_engineering_sp1/board.c
  ports/nordic/common-hal/alarm/pin/PinAlarm.c
  ports/nordic/common-hal/microcontroller/Pin.c
Due: translations, formatting

Eliobot S3: keep code.py, clarify boot.py and pin comments
  ports/espressif/boards/elio_eliobot_s3/board.c
  ports/espressif/boards/elio_eliobot_s3/mpconfigboard.h
  ports/espressif/boards/elio_eliobot_s3/pins.c
Due: translations, formatting

Run the size record download from github-script
  .github/workflows/build.yml
  tools/ci_download_sizes.mjs
Due: none

Fix SAMD builds
  ports/atmel-samd/common-hal/spitarget/SPITarget.c
Due: translations, formatting

Start the size table with every board shown
  tools/ci_firmware_sizes.py
Due: formatting

bitmaptools.blit fast path
  shared-module/bitmaptools/__init__.c
Due: translations, formatting

Auto-update the Zephyr autogen files
  .github/workflows/zephyr-autogen-pr.yml
  tools/ci_set_matrix.py
Due: formatting

zephyr-cp: compile in parallel when make's jobserver is not a fifo
  ports/zephyr-cp/cptools/cpbuild.py
Due: formatting

zephyr-cp: stop recompiling every file on every build
  ports/zephyr-cp/cptools/build_circuitpython.py
  ports/zephyr-cp/cptools/zephyr2cp.py
Due: formatting

build_release_files: skip the extra languages for simulator boards on every event
  tools/build_release_files.py
Due: formatting

board: Rename CIRCUITPY_BOARD_EXTRA_DICT_ITEMS to CIRCUITPY_BOARD_HARDWARE_KEYS
  ports/espressif/common-hal/hardwarekey/board.h
  shared-bindings/board/__init__.h
Due: translations, formatting

hardwarekey: Use the MAKE_ENUM macros for Purpose
  shared-bindings/hardwarekey/HardwareKey.c
  shared-bindings/hardwarekey/__init__.c
  shared-bindings/hardwarekey/__init__.h
Due: translations, formatting

zephyr-cp CI: disable action-zephyr-setup's ccache
  .github/actions/deps/ports/zephyr-cp/action.yml
Due: none

Fix error and add test branch
  .github/workflows/zephyr-autogen-pr.yml
  ports/zephyr-cp/cptools/build_all_boards.py
Due: formatting

Print out the logs
  .github/workflows/zephyr-autogen-pr.yml
Due: none

Pick up zephyr UART fix
  ports/zephyr-cp/zephyr-config/west.yml
Due: none
