Repository tannewt/circuitpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: translations, formatting

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: 2020 Diego Elio Petten√≤
#
# SPDX-License-Identifier: Unlicense

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
        exclude: '^(tests/.*\.exp|tests/cmdline/.*|tests/.*/data/.*|tools/fonts/.*)'
    -   id: trailing-whitespace
        exclude: '^(tests/.*\.exp|tests/cmdline/.*|tests/.*/data/.*|tools/fonts/.*|lib/mbedtls_errors/generate_errors.diff)'
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    -   id: codespell
        args: [-w]
        exclude: |
          (?x)^(
            locale/|
            lib/|
            tools/fonts/
          )
-   repo: local
    hooks:
    -   id: translations
        name: Translations
        entry: sh -c "if ! make check-translate; then make translate; fi"
        types: [c]
        pass_filenames: false
        language: system
    -   id: formatting
        name: Formatting
        entry: python3 tools/codeformat.py
        types_or: [c, python]
        language: system

Name the translation classes and escape symbols
  py/maketranslationdata.py
  supervisor/shared/translate/compressed_string.h
  supervisor/shared/translate/translate.c
Due: translations, formatting

maketranslationdata.py: name the classes in CLASS_PRESETS
  py/maketranslationdata.py
Due: formatting

Compressed translations: escape rare characters instead of 16-bit tables
  py/maketranslationdata.py
  supervisor/shared/translate/compressed_string.h
  supervisor/shared/translate/translate.c
Due: translations, formatting

msgpack, struct, zlib, buffer_helper: values from outside used unchecked
  shared-bindings/zlib/__init__.c
  shared-module/msgpack/__init__.c
  shared-module/struct/__init__.c
  shared/runtime/buffer_helper.c
Due: translations, formatting

ipaddress, random, rainbowio: conversions that give the wrong value
  shared-bindings/ipaddress/IPv4Address.c
  shared-bindings/ipaddress/__init__.c
  shared-bindings/random/__init__.c
  shared-module/rainbowio/__init__.c
  shared-module/random/__init__.c
Due: translations, formatting

raspberrypi: stop pulling newlib's time zone code into RP2040 builds
  ports/raspberrypi/Makefile
  ports/raspberrypi/common-hal/rtc/pico_time.c
Due: translations, formatting

warnings, getpass, os, adafruit_bus_device, traceback: failures reported as success
  shared-bindings/traceback/__init__.c
  shared-module/adafruit_bus_device/i2c_device/I2CDevice.c
  shared-module/getpass/__init__.c
  shared-module/os/__init__.c
  shared-module/warnings/__init__.c
Due: translations, formatting

gifio, jpegio: a header ahead of its check, and lengths that overreport
  shared-bindings/gifio/OnDiskGif.c
  shared-module/gifio/GifWriter.c
  shared-module/jpegio/JpegDecoder.c
Due: translations, formatting

bitmapfilter, aesio, analogbufio, floppyio, memorymonitor, busio: declared type and use disagree
  shared-bindings/aesio/aes.c
  shared-bindings/analogbufio/BufferedIn.c
  shared-bindings/bitmapfilter/__init__.c
  shared-bindings/busio/I2C.c
  shared-bindings/floppyio/__init__.c
  shared-module/memorymonitor/AllocationSize.c
Due: translations, formatting

Support merge queue
  .github/workflows/build.yml
  .github/workflows/pre-commit.yml
Due: none

Cancel on branch pushes including main
  .github/workflows/build.yml
  .github/workflows/pre-commit.yml
Due: none

Update translation files
  locale/cs.po
  locale/el.po
  locale/hi.po
  locale/ko.po
  locale/ru.po
  locale/tr.po
Due: none

Revert "boards: disable aesio on 4 boards overflowing after LESC numcmp bleio API"
  ports/atmel-samd/boards/circuitbrains_deluxe_m4/mpconfigboard.mk
  ports/atmel-samd/boards/datalore_ip_m4/mpconfigboard.mk
  ports/nordic/boards/bluemicro840/mpconfigboard.mk
  ports/nordic/boards/electronut_labs_blip/mpconfigboard.mk
Due: none

hmac: switch update()/digest() to PSA's multipart MAC API
  locale/circuitpython.pot
  shared-bindings/hmac/HMAC.c
  shared-bindings/hmac/HMAC.h
  shared-module/hmac/HMAC.c
  shared-module/hmac/__init__.h
  tests/circuitpython/hmac.py
  tests/circuitpython/hmac.py.exp
Due: translations, formatting

Add final job to aggregate check status
  .github/workflows/build.yml
Due: none

Don't run pre-commit on push to merge queue
  .github/workflows/build.yml
  .github/workflows/pre-commit.yml
Due: none

espressif: commit native machine code into executable RAM
  ports/espressif/mpconfigport.h
  ports/espressif/supervisor/port.c
Due: translations, formatting

espressif: turn off memory protection when native code is enabled
  ports/espressif/Makefile
  ports/espressif/esp-idf-config/sdkconfig-native.defaults
  ports/espressif/tools/check-sdkconfig.py
  ports/espressif/tools/update_sdkconfig.py
Due: formatting

supervisor: add port_gc_deinit(), called after the VM heap is torn down
  main.c
  supervisor/port.h
  supervisor/shared/port.c
Due: translations, formatting

py/mpconfig: separate the native prelude on windowed Xtensa when only loading
  py/mpconfig.h
Due: translations, formatting

espressif: load native .mpy on the ESP32-C5-DevKitC-1-N8R8
  ports/espressif/boards/espressif_esp32c5_devkitc_1_n8r8/mpconfigboard.mk
Due: none

espressif: load native .mpy on the Metro ESP32-S2 and ESP32-S3
  ports/espressif/boards/adafruit_metro_esp32s2/mpconfigboard.mk
  ports/espressif/boards/adafruit_metro_esp32s3/mpconfigboard.mk
Due: none

espressif: load native .mpy on the QT Py ESP32-C3 and Feather ESP32-C6
  ports/espressif/boards/adafruit_feather_esp32c6_4mbflash_nopsram/mpconfigboard.mk
  ports/espressif/boards/adafruit_qtpy_esp32c3/mpconfigboard.mk
Due: none

espressif: update_sdkconfig.py follows the loader default
  ports/espressif/tools/update_sdkconfig.py
Due: formatting

espressif: load native .mpy by default
  ports/espressif/boards/adafruit_feather_esp32c6_4mbflash_nopsram/mpconfigboard.mk
  ports/espressif/boards/adafruit_metro_esp32s2/mpconfigboard.mk
  ports/espressif/boards/adafruit_metro_esp32s3/mpconfigboard.mk
  ports/espressif/boards/adafruit_qtpy_esp32c3/mpconfigboard.mk
  ports/espressif/boards/espressif_esp32c5_devkitc_1_n8r8/mpconfigboard.mk
  ports/espressif/mpconfigport.mk
Due: none

digitalio, pwmio, keypad, bitbangio: arguments taken on trust
  shared-bindings/bitbangio/I2C.c
  shared-bindings/bitbangio/SPI.c
  shared-bindings/digitalio/DigitalInOut.c
  shared-bindings/keypad/KeyMatrix.c
  shared-bindings/keypad_demux/DemuxKeyMatrix.c
  shared-bindings/pwmio/PWMOut.c
  shared-module/bitbangio/I2C.c
  shared-module/bitbangio/SPI.c
Due: translations, formatting

Adding support for SecuringhHardware.com Xiaomao boards
  ports/raspberrypi/boards/securinghw-xiaomao/board.c
  ports/raspberrypi/boards/securinghw-xiaomao/mpconfigboard.h
  ports/raspberrypi/boards/securinghw-xiaomao/mpconfigboard.mk
  ports/raspberrypi/boards/securinghw-xiaomao/pico-sdk-configboard.h
  ports/raspberrypi/boards/securinghw-xiaomao/pins.c
Due: translations, formatting

EXPERIMENT: two pytest workers in the bsim shards
  .github/workflows/run-zephyr-tests.yml
Due: none

EXPERIMENT: two pytest workers in the native_sim shard too
  .github/workflows/run-zephyr-tests.yml
Due: none

EXPERIMENT: let nproc pick the worker count
  .github/workflows/run-zephyr-tests.yml
Due: none

Install pytest-xdist from requirements-dev.txt
  .github/workflows/run-zephyr-tests.yml
  requirements-dev.txt
Due: none

zephyr-cp: check autogen_board_info.toml after the extmod entries
  ports/zephyr-cp/cptools/build_circuitpython.py
Due: formatting

run-zephyr-tests: build the shard's boards in parallel
  .github/workflows/run-zephyr-tests.yml
Due: none

atmel-samd: load native .mpy on six more SAMx5x boards
  ports/atmel-samd/boards/circuitbrains_deluxe_m4/mpconfigboard.mk
  ports/atmel-samd/boards/datalore_ip_m4/mpconfigboard.mk
  ports/atmel-samd/boards/mini_sam_m4/mpconfigboard.mk
  ports/atmel-samd/boards/monster_m4sk/mpconfigboard.mk
  ports/atmel-samd/boards/openbook_m4/mpconfigboard.mk
  ports/atmel-samd/boards/silicognition-m4-shim/mpconfigboard.mk
Due: none

Fail the merge queue fast
  .github/workflows/build-boards.yml
  .github/workflows/build-mpy-cross.yml
  .github/workflows/build.yml
  .github/workflows/run-tests.yml
  .github/workflows/run-zephyr-tests.yml
Due: none

hmac: drop custom messages on copy()/update() exceptions
  locale/circuitpython.pot
  shared-bindings/hmac/HMAC.c
  shared-module/hmac/HMAC.c
Due: translations, formatting

hmac: buffer update() for a hardware key, whose PSA driver only supports one-shot MAC compute
  locale/circuitpython.pot
  shared-bindings/hmac/__init__.c
  shared-module/hmac/HMAC.c
  shared-module/hmac/__init__.h
Due: translations, formatting
