Repository tannewt/circuitpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: translations, formatting

translations:
  name: Translations
  entry: sh -c "if ! make check-translate; then make translate; fi"
  pass_filenames: false
  language: system

formatting:
  name: Formatting
  entry: python3 tools/codeformat.py
  language: system

Regenerate zephyr-cp autogen_board_info.toml files
  ports/zephyr-cp/boards/adafruit/clue_nrf52840_zephyr/autogen_board_info.toml
  ports/zephyr-cp/boards/adafruit/feather_nrf52840_sense_zephyr/autogen_board_info.toml
  ports/zephyr-cp/boards/adafruit/feather_nrf52840_zephyr/autogen_board_info.toml
  ports/zephyr-cp/boards/adafruit/feather_rp2040_zephyr/autogen_board_info.toml
  ports/zephyr-cp/boards/native/native_sim/autogen_board_info.toml
  ports/zephyr-cp/boards/native/native_sim_asan/autogen_board_info.toml
  ports/zephyr-cp/boards/native/native_sim_lfs/autogen_board_info.toml
  ports/zephyr-cp/boards/native/nrf5340bsim/autogen_board_info.toml
  ports/zephyr-cp/boards/native/nrf54lm20bsim/autogen_board_info.toml
  ports/zephyr-cp/boards/nordic/nrf5340dk/autogen_board_info.toml
  ports/zephyr-cp/boards/nordic/nrf54h20dk/autogen_board_info.toml
  ports/zephyr-cp/boards/nordic/nrf54l15dk/autogen_board_info.toml
  ports/zephyr-cp/boards/nordic/nrf54l15tag/autogen_board_info.toml
  ports/zephyr-cp/boards/nordic/nrf54lm20dk/autogen_board_info.toml
  ports/zephyr-cp/boards/nordic/nrf7002dk/autogen_board_info.toml
  ports/zephyr-cp/boards/nxp/frdm_mcxn947/autogen_board_info.toml
  ports/zephyr-cp/boards/nxp/frdm_rw612/autogen_board_info.toml
  ports/zephyr-cp/boards/nxp/mimxrt1170_evk/autogen_board_info.toml
  ports/zephyr-cp/boards/raspberrypi/rpi_pico2_w_zephyr/autogen_board_info.toml
  ports/zephyr-cp/boards/raspberrypi/rpi_pico2_zephyr/autogen_board_info.toml
  ports/zephyr-cp/boards/raspberrypi/rpi_pico_w_zephyr/autogen_board_info.toml
  ports/zephyr-cp/boards/raspberrypi/rpi_pico_zephyr/autogen_board_info.toml
  ports/zephyr-cp/boards/renesas/da14695_dk_usb/autogen_board_info.toml
  ports/zephyr-cp/boards/renesas/ek_ra6m5/autogen_board_info.toml
  ports/zephyr-cp/boards/renesas/ek_ra8d1/autogen_board_info.toml
  ports/zephyr-cp/boards/silabs/siwx917_dk2605a/autogen_board_info.toml
  ports/zephyr-cp/boards/st/nucleo_n657x0_q/autogen_board_info.toml
  ports/zephyr-cp/boards/st/nucleo_u575zi_q/autogen_board_info.toml
  ports/zephyr-cp/boards/st/stm32h750b_dk/autogen_board_info.toml
  ports/zephyr-cp/boards/st/stm32h7b3i_dk/autogen_board_info.toml
  ports/zephyr-cp/boards/st/stm32wba65i_dk1/autogen_board_info.toml
Due: none

random: randint() no longer rejects the largest upper bound
  shared-bindings/random/__init__.c
  shared-bindings/random/__init__.h
  shared-module/random/__init__.c
  tests/extmod/random_extra.py
Due: translations, formatting

Fix docs build after port removal
  docs/supported_ports.rst
  shared-bindings/displayio/__init__.c
Due: translations, formatting

Remove CIRCUITPY_VIDEOCORE plumbing
  py/circuitpy_defns.mk
  py/circuitpy_mpconfig.mk
  shared-module/displayio/__init__.c
  shared-module/displayio/__init__.h
Due: translations, formatting

Drop stale broadcom mentions from comments
  py/objlist.c
  shared-bindings/busio/UART.c
Due: translations, formatting

Remove litex, renode, and broadcom from port lists
  Makefile
  README.rst
  docs/shared_bindings_matrix.py
  pyproject.toml
  tools/ci_fetch_deps.py
Due: formatting

Remove litex CI deps action
  .github/actions/deps/external/action.yml
  .github/actions/deps/ports/action.yml
  .github/actions/deps/ports/litex/action.yml
Due: none

use clearer name for forever advertising duration
  devices/ble_hci/common-hal/_bleio/Adapter.c
Due: translations, formatting

Regenerate zephyr-cp autogen_board_info.toml files
  ports/zephyr-cp/boards/adafruit/clue_nrf52840_zephyr/autogen_board_info.toml
  ports/zephyr-cp/boards/native/native_sim/autogen_board_info.toml
  ports/zephyr-cp/boards/native/native_sim_asan/autogen_board_info.toml
  ports/zephyr-cp/boards/native/native_sim_lfs/autogen_board_info.toml
  ports/zephyr-cp/boards/renesas/ek_ra8d1/autogen_board_info.toml
  ports/zephyr-cp/boards/st/stm32h750b_dk/autogen_board_info.toml
  ports/zephyr-cp/boards/st/stm32h7b3i_dk/autogen_board_info.toml
Due: none

Tweaks based on review feedback
  ports/zephyr-cp/common-hal/busio/I2C.h
  ports/zephyr-cp/common-hal/busio/SPI.h
  ports/zephyr-cp/common-hal/busio/UART.h
  ports/zephyr-cp/common-hal/rotaryio/IncrementalEncoder.c
  ports/zephyr-cp/modules/iobroker/README.md
  ports/zephyr-cp/modules/iobroker/include/iobroker/iobroker.h
Due: translations, formatting

microcontroller: add cpu.architecture and show it in boot_out.txt
  main.c
  py/persistentcode.h
  shared-bindings/microcontroller/Processor.c
Due: translations, formatting

web_workflow: report the native architecture in version.json
  docs/workflows.md
  supervisor/shared/web_workflow/web_workflow.c
Due: translations, formatting

Remove unneeded global pin number
  ports/zephyr-cp/cptools/zephyr2cp.py
Due: formatting

main: put the architecture on its own boot_out.txt line
  main.c
Due: translations, formatting

Zephyr autogen auto-update fixes
  .github/workflows/zephyr-autogen-pr.yml
  ports/zephyr-cp/cptools/build_circuitpython.py
Due: formatting

Wake the main task on UART RX
  ports/zephyr-cp/common-hal/busio/UART.c
Due: translations, formatting

Re-pin Pico-PIO-USB to the adafruit fork
  .gitmodules
Due: none

espressif: update esp-protocols to circuitpython2026
  .gitmodules
Due: none

py/builtinimport: look for foo.<arch>.mpy between foo.py and foo.mpy
  py/builtinimport.c
  tests/micropython/import_mpy_native_arch.py
  tests/micropython/import_mpy_native_arch.py.exp
Due: translations, formatting

docs: describe the foo.<arch>.mpy import order
  docs/troubleshooting.rst
Due: none

Add dual-mode reset flow scaffolding for per-port BULK_RESET switching
  main.c
  shared-module/gifio/OnDiskGif.c
Due: translations, formatting

cxd56: switch to finalizer cleanup (CIRCUITPY_BULK_RESET = 0)
  ports/cxd56/common-hal/analogio/AnalogIn.c
  ports/cxd56/common-hal/analogio/AnalogIn.h
  ports/cxd56/common-hal/busio/I2C.c
  ports/cxd56/common-hal/busio/SPI.c
  ports/cxd56/common-hal/digitalio/DigitalInOut.c
  ports/cxd56/common-hal/microcontroller/Pin.c
  ports/cxd56/common-hal/microcontroller/Pin.h
  ports/cxd56/common-hal/pwmio/PWMOut.c
  ports/cxd56/common-hal/sdioio/SDCard.c
  ports/cxd56/mpconfigport.mk
  ports/cxd56/supervisor/port.c
Due: translations, formatting

analog: switch to finalizer cleanup (CIRCUITPY_BULK_RESET = 0)
  ports/analog/common-hal/busio/I2C.c
  ports/analog/common-hal/busio/SPI.c
  ports/analog/common-hal/busio/UART.c
  ports/analog/common-hal/digitalio/DigitalInOut.c
  ports/analog/common-hal/microcontroller/Pin.c
  ports/analog/common-hal/microcontroller/Pin.h
  ports/analog/common-hal/rtc/RTC.h
  ports/analog/mpconfigport.mk
  ports/analog/supervisor/usb.c
Due: translations, formatting

silabs: switch to finalizer cleanup (CIRCUITPY_BULK_RESET = 0)
  ports/silabs/common-hal/analogio/AnalogOut.c
  ports/silabs/common-hal/analogio/AnalogOut.h
  ports/silabs/common-hal/busio/I2C.c
  ports/silabs/common-hal/busio/SPI.c
  ports/silabs/common-hal/busio/UART.c
  ports/silabs/common-hal/busio/UART.h
  ports/silabs/common-hal/digitalio/DigitalInOut.c
  ports/silabs/common-hal/microcontroller/Pin.c
  ports/silabs/common-hal/microcontroller/Pin.h
  ports/silabs/common-hal/pwmio/PWMOut.c
  ports/silabs/common-hal/rtc/RTC.h
  ports/silabs/mpconfigport.mk
  ports/silabs/supervisor/port.c
  ports/silabs/supervisor/serial.c
Due: translations, formatting

mimxrt10xx: switch to finalizer cleanup (CIRCUITPY_BULK_RESET = 0)
  ports/mimxrt10xx/common-hal/audiobusio/__init__.c
  ports/mimxrt10xx/common-hal/audiobusio/__init__.h
  ports/mimxrt10xx/common-hal/busio/I2C.c
  ports/mimxrt10xx/common-hal/busio/SPI.c
  ports/mimxrt10xx/common-hal/busio/UART.c
  ports/mimxrt10xx/common-hal/canio/CAN.c
  ports/mimxrt10xx/common-hal/digitalio/DigitalInOut.c
  ports/mimxrt10xx/common-hal/microcontroller/Pin.c
  ports/mimxrt10xx/common-hal/microcontroller/Pin.h
  ports/mimxrt10xx/common-hal/pwmio/PWMOut.c
  ports/mimxrt10xx/common-hal/rtc/RTC.h
  ports/mimxrt10xx/mpconfigport.mk
  ports/mimxrt10xx/supervisor/port.c
Due: translations, formatting

nordic: switch to finalizer cleanup (CIRCUITPY_BULK_RESET = 0)
  ports/nordic/boards/bluemicro833/board.c
  ports/nordic/boards/clue_nrf52840_express/board.c
  ports/nordic/boards/espruino_banglejs2/board.c
  ports/nordic/boards/hiibot_bluefi/board.c
  ports/nordic/boards/makerdiary_m60_keyboard/board.c
  ports/nordic/boards/makerdiary_nrf52840_m2_devkit/board.c
  ports/nordic/boards/ohs2020_badge/board.c
  ports/nordic/boards/teenage_engineering_sp1/board.c
  ports/nordic/common-hal/alarm/pin/PinAlarm.c
  ports/nordic/common-hal/audiobusio/I2SOut.c
  ports/nordic/common-hal/audiobusio/I2SOut.h
  ports/nordic/common-hal/busio/I2C.c
  ports/nordic/common-hal/busio/SPI.c
  ports/nordic/common-hal/busio/UART.c
  ports/nordic/common-hal/digitalio/DigitalInOut.c
  ports/nordic/common-hal/emmcio/EMMC.c
  ports/nordic/common-hal/microcontroller/Pin.c
  ports/nordic/common-hal/microcontroller/Pin.h
  ports/nordic/common-hal/neopixel_write/__init__.c
  ports/nordic/common-hal/neopixel_write/__init__.h
  ports/nordic/common-hal/paralleldisplaybus/ParallelBus.c
  ports/nordic/common-hal/pwmio/PWMOut.c
  ports/nordic/common-hal/rgbmatrix/RGBMatrix.c
  ports/nordic/common-hal/rtc/RTC.h
  ports/nordic/mpconfigport.mk
  ports/nordic/peripherals/nrf/timers.c
  ports/nordic/peripherals/nrf/timers.h
  ports/nordic/supervisor/port.c
Due: translations, formatting

zephyr-cp: finish finalizer cleanup transition
  ports/zephyr-cp/Makefile
  ports/zephyr-cp/boards/adafruit/clue_nrf52840_zephyr/autogen_board_info.toml
  ports/zephyr-cp/common-hal/audiobusio/I2SOut.c
  ports/zephyr-cp/common-hal/audiobusio/I2SOut.h
  ports/zephyr-cp/cptools/zephyr2cp.py
  ports/zephyr-cp/supervisor/port.c
Due: translations, formatting

BUILDING: lead with the submodules one board actually needs
  BUILDING.md
  Makefile
Due: none

tests: drop the bytes() wrapper around the .mpy literal
  tests/micropython/import_mpy_native_arch.py
Due: formatting

Update BUILDING.md
  BUILDING.md
Due: none

py/builtinimport: skip the .<arch>.mpy probe when it would not fit
  py/builtinimport.c
Due: translations, formatting

displayio: step the TileGrid tile terms along the row
  shared-module/displayio/Bitmap.c
  shared-module/displayio/TileGrid.c
Due: translations, formatting

picogame: exact 32-bit forms for the raycaster and the value noise
  shared-bindings/picogame/__init__.c
Due: translations, formatting

picogame: project the basis dot products without a 64-bit multiply
  shared-bindings/picogame/__init__.c
Due: translations, formatting

picogame: word-fill the surfaces, block-fill the maps
  shared-bindings/picogame/Canvas.c
  shared-bindings/picogame/Tilemap.c
  shared-module/picogame/Canvas.c
  shared-module/picogame/__init__.c
  shared-module/picogame/__init__.h
Due: translations, formatting

Path conditions:
  translations: any of: \.(c|h)$
  formatting: any of: \.(c|h)$, \.py$
