Repository tannewt/circuitpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: translations, formatting

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: 2020 Diego Elio Petten√≤
#
# SPDX-License-Identifier: Unlicense

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
        exclude: '^(tests/.*\.exp|tests/cmdline/.*|tests/.*/data/.*|tools/fonts/.*)'
    -   id: trailing-whitespace
        exclude: '^(tests/.*\.exp|tests/cmdline/.*|tests/.*/data/.*|tools/fonts/.*|lib/mbedtls_errors/generate_errors.diff)'
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    -   id: codespell
        args: [-w]
        exclude: |
          (?x)^(
            locale/|
            lib/|
            tools/fonts/
          )
-   repo: local
    hooks:
    -   id: translations
        name: Translations
        entry: sh -c "if ! make check-translate; then make translate; fi"
        types: [c]
        pass_filenames: false
        language: system
    -   id: formatting
        name: Formatting
        entry: python3 tools/codeformat.py
        types_or: [c, python]
        language: system

Abstract out module configs. Update hancho
  HANCHO.py
  lib/picolibc.py
  ports/raspberrypi/HANCHO.py
  py/makeqstrdefs.py
Due: formatting

Start to update hancho files
  HANCHO.py
  lib/picolibc.py
Due: formatting

Fix make+gcc build
  ports/raspberrypi/Makefile
  ports/raspberrypi/common-hal/busio/UART.c
  py/makeqstrdefs.py
Due: translations, formatting

Try new hancho
  HANCHO.py
  lib/picolibc.py
  ports/raspberrypi/HANCHO.py
  ports/raspberrypi/boards/adafruit_feather_rp2040/HANCHO.py
Due: formatting

Board definition for DefCon badge
  ports/raspberrypi/boards/entropic_defcon32/board.c
  ports/raspberrypi/boards/entropic_defcon32/mpconfigboard.h
  ports/raspberrypi/boards/entropic_defcon32/mpconfigboard.mk
  ports/raspberrypi/boards/entropic_defcon32/pico-sdk-configboard.h
  ports/raspberrypi/boards/entropic_defcon32/pins.c
Due: translations, formatting

Hancho submodule
  .github/workflows/build.yml
  .gitignore
  .gitmodules
  build_circuitpython.py
  devices/ble_hci/common-hal/_bleio/Connection.c
  devices/ble_hci/common-hal/_bleio/__init__.c
  lib/AnimatedGIF/gif.c
  lib/__init__.py
  lib/picolibc.py
  main.c
  ports/__init__.py
  ports/raspberrypi/Makefile
  ports/raspberrypi/__init__.py
  ports/raspberrypi/audio_dma.c
  ports/raspberrypi/boards/__init__.py
  ports/raspberrypi/boards/adafruit_feather_rp2040/__init__.py
  ports/raspberrypi/common-hal/busio/UART.c
  ports/raspberrypi/common-hal/microcontroller/Processor.c
  ports/raspberrypi/common-hal/rp2pio/StateMachine.c
  ports/raspberrypi/mpconfigport.mk
  ports/raspberrypi/supervisor/port.c
  py/circuitpy_defns.mk
  py/makeqstrdefs.py
  py/mkenv.mk
  py/mpconfig.h
  py/sequence.c
  shared-bindings/busdisplay/BusDisplay.c
  shared-module/bitmaptools/__init__.c
  shared-module/busdisplay/BusDisplay.c
  shared-module/floppyio/__init__.c
  shared-module/synthio/__init__.c
  shared-module/touchio/TouchIn.c
  supervisor/shared/background_callback.c
  supervisor/shared/reload.c
  supervisor/shared/status_leds.c
  supervisor/shared/tick.c
  supervisor/shared/usb/usb_desc.c
Due: translations, formatting

untested: support 800x480@60Hz (& 400x240) on rp2350
  ports/raspberrypi/common-hal/picodvi/Framebuffer_RP2350.c
Due: translations, formatting

Refactor resolution checking
  locale/circuitpython.pot
  ports/raspberrypi/common-hal/picodvi/Framebuffer_RP2350.c
Due: translations, formatting

add zephyr submodule
  .gitmodules
  prj.conf
Due: none

cmake calls python
  CMakeLists.txt
  tools/build/build_circuitpython.py
  zephyr_main.c
Due: translations, formatting

Build more
  ports/nordic/common-hal/microcontroller/Processor.c
  ports/nordic/common-hal/microcontroller/__init__.c
  ports/nordic/peripherals/nrf/pins.h
  tools/cpbuild/build_circuitpython.py
Due: translations, formatting

more flag allowlisting
  build_circuitpython.py
  ports/raspberrypi/__init__.py
Due: formatting

fixes
  .west/config
  CMakeLists.txt
  CONTRIBUTING.md
  tools/cpbuild/build_circuitpython.py
Due: formatting

start adding zephyr imps of stuff
  supervisor/zephyr/flash.c
  supervisor/zephyr/port.c
  tools/cpbuild/build_circuitpython.py
Due: translations, formatting

memoize and skip rebuilds
  py/makeqstrdefs.py
  tools/cpbuild/build_circuitpython.py
  tools/cpbuild/cpbuild.py
Due: formatting

Fix timestamp checking and hashing
  tools/cpbuild/build_circuitpython.py
  tools/cpbuild/cpbuild.py
Due: formatting

Starting to call zephyr
  ports/nordic/common-hal/os/__init__.c
  prj.conf
  supervisor/zephyr/port.c
  tools/cpbuild/build_circuitpython.py
  tools/cpbuild/cpbuild.py
Due: translations, formatting

links
  ports/nordic/common-hal/microcontroller/Processor.c
  supervisor/zephyr/port.c
  tools/cpbuild/build_circuitpython.py
Due: translations, formatting

Start working on console
  main.c
  ports/nordic/common-hal/microcontroller/Pin.c
  prj.conf
  supervisor/shared/serial.c
  supervisor/shared/stack.c
  supervisor/zephyr/port.c
  supervisor/zephyr/serial.c
  tools/cpbuild/build_circuitpython.py
Due: translations, formatting

CP console over UART doesn't work
  .gitmodules
  boards/pca10056/mpconfigboard.h
  main.c
  ports/nordic/common-hal/busio/I2C.c
  ports/nordic/common-hal/busio/SPI.c
  ports/nordic/common-hal/busio/UART.c
  ports/nordic/common-hal/microcontroller/Pin.c
  ports/nordic/peripherals/nrf/pins.h
  prj.conf
  supervisor/shared/serial.c
  supervisor/zephyr/flash.c
  supervisor/zephyr/serial.c
  tools/cpbuild/build_circuitpython.py
Due: translations, formatting

move uart tx. enable digitalio
  boards/pca10056/mpconfigboard.h
  ports/nordic/common-hal/digitalio/DigitalInOut.c
  prj.conf
  tools/cpbuild/build_circuitpython.py
Due: translations, formatting

printk works
  CMakeLists.txt
  ports/zephyr/background.c
  ports/zephyr/background.h
  ports/zephyr/common-hal/busio/I2C.c
  ports/zephyr/common-hal/busio/I2C.h
  ports/zephyr/common-hal/busio/SPI.c
  ports/zephyr/common-hal/busio/SPI.h
  ports/zephyr/common-hal/busio/UART.c
  ports/zephyr/common-hal/busio/UART.h
  ports/zephyr/common-hal/busio/__init__.c
  ports/zephyr/common-hal/digitalio/DigitalInOut.c
  ports/zephyr/common-hal/digitalio/DigitalInOut.h
  ports/zephyr/common-hal/digitalio/__init__.c
  ports/zephyr/common-hal/microcontroller/Pin.c
  ports/zephyr/common-hal/microcontroller/Pin.h
  ports/zephyr/common-hal/microcontroller/Processor.c
  ports/zephyr/common-hal/microcontroller/Processor.h
  ports/zephyr/common-hal/microcontroller/__init__.c
  ports/zephyr/common-hal/os/__init__.c
  ports/zephyr/mpconfigport.h
  ports/zephyr/mphalport.h
  ports/zephyr/supervisor/internal_flash.h
  prj.conf
  socs/nrf52840.conf
  supervisor/zephyr/flash.c
  supervisor/zephyr/port.c
  supervisor/zephyr/serial.c
  tools/cpbuild/build_circuitpython.py
Due: translations, formatting

More pin work
  ports/zephyr-cp/common-hal/microcontroller/Pin.h
  ports/zephyr-cp/cptools/build_circuitpython.py
  ports/zephyr-cp/supervisor/flash.c
Due: translations, formatting

DigitalInOut basics work
  ports/zephyr-cp/common-hal/digitalio/DigitalInOut.c
  ports/zephyr-cp/common-hal/digitalio/DigitalInOut.h
  ports/zephyr-cp/common-hal/microcontroller/Pin.c
  ports/zephyr-cp/common-hal/microcontroller/Pin.h
  ports/zephyr-cp/cptools/build_circuitpython.py
  ports/zephyr-cp/mpconfigport.h
Due: translations, formatting

Support CIRCUITPY on flash
  .pre-commit-config.yaml
  ports/zephyr-cp/common-hal/busio/I2C.c
  ports/zephyr-cp/cptools/build_circuitpython.py
  ports/zephyr-cp/cptools/compat2driver.py
  ports/zephyr-cp/cptools/gen_compat2driver.py
  ports/zephyr-cp/prj.conf
  ports/zephyr-cp/supervisor/flash.c
  ports/zephyr-cp/supervisor/port.c
Due: translations, formatting

WIP tinyusb + zephyr
  ports/zephyr-cp/cptools/build_circuitpython.py
  ports/zephyr-cp/supervisor/usb.c
Due: translations, formatting

More usb work. compiles but doesn't work
  .gitmodules
  ports/zephyr-cp/cptools/build_circuitpython.py
  ports/zephyr-cp/socs/stm32u575xx.conf
  ports/zephyr-cp/supervisor/port.c
  ports/zephyr-cp/supervisor/usb.c
Due: translations, formatting

USB works on STM32U575 and nRF52840
  ports/zephyr-cp/cptools/build_circuitpython.py
  ports/zephyr-cp/mpconfigport.h
  ports/zephyr-cp/socs/nrf52840.conf
  ports/zephyr-cp/supervisor/serial.c
  ports/zephyr-cp/supervisor/usb.c
  supervisor/shared/usb/tusb_config.h
  supervisor/shared/usb/usb.c
Due: translations, formatting

Use TLSF for heaps. More board testing
  ports/zephyr-cp/boards/stm32h7b3i_dk.overlay
  ports/zephyr-cp/cptools/build_circuitpython.py
  ports/zephyr-cp/prj.conf
  ports/zephyr-cp/socs/nrf5340_cpuapp.conf
  ports/zephyr-cp/supervisor/flash.c
  ports/zephyr-cp/supervisor/port.c
  ports/zephyr-cp/supervisor/usb.c
  supervisor/shared/usb/usb.c
Due: translations, formatting

blinky works
  ports/zephyr-cp/common-hal/digitalio/DigitalInOut.c
  ports/zephyr-cp/common-hal/microcontroller/Pin.h
  ports/zephyr-cp/common-hal/microcontroller/Processor.c
  ports/zephyr-cp/common-hal/microcontroller/Processor.h
  ports/zephyr-cp/cptools/build_circuitpython.py
  ports/zephyr-cp/prj.conf
  ports/zephyr-cp/supervisor/flash.c
  ports/zephyr-cp/supervisor/port.c
Due: translations, formatting

detect header changes
  ports/zephyr-cp/cptools/cpbuild.py
Due: formatting

Sort compat2driver
  ports/zephyr-cp/cptools/compat2driver.py
  ports/zephyr-cp/cptools/gen_compat2driver.py
Due: formatting

SDRAM support on RA8. Start USB but disable
  .gitmodules
  ports/zephyr-cp/.west/config
  ports/zephyr-cp/Kconfig.sysbuild
  ports/zephyr-cp/boards/ek_ra8d1.overlay
  ports/zephyr-cp/boards/nrf7002dk_nrf5340_cpuapp.conf
  ports/zephyr-cp/common-hal/microcontroller/Processor.c
  ports/zephyr-cp/cptools/build_circuitpython.py
  ports/zephyr-cp/prj.conf
  ports/zephyr-cp/supervisor/flash.c
  ports/zephyr-cp/supervisor/port.c
  ports/zephyr-cp/supervisor/usb.c
  ports/zephyr-cp/sysbuild.cmake
  ports/zephyr-cp/sysbuild.conf
Due: translations, formatting

Make digitalinout more versatile. Support part of a flash chip
  ports/zephyr-cp/common-hal/digitalio/DigitalInOut.c
  ports/zephyr-cp/common-hal/digitalio/DigitalInOut.h
  ports/zephyr-cp/cptools/build_circuitpython.py
  ports/zephyr-cp/supervisor/flash.c
  ports/zephyr-cp/supervisor/port.c
Due: translations, formatting

Support random
  ports/zephyr-cp/common-hal/os/__init__.c
  ports/zephyr-cp/cptools/build_circuitpython.py
  ports/zephyr-cp/prj.conf
Due: translations, formatting

RA6M5 works. Use our zephyr branch
  .gitmodules
  ports/zephyr-cp/cptools/build_circuitpython.py
  ports/zephyr-cp/cptools/compat2driver.py
Due: formatting

mbedtls links. nrf5340 usb works
  lib/mbedtls_config/crt_bundle.c
  ports/zephyr-cp/common-hal/microcontroller/__init__.c
  ports/zephyr-cp/common-hal/socketpool/Socket.c
  ports/zephyr-cp/common-hal/socketpool/Socket.h
  ports/zephyr-cp/common-hal/socketpool/SocketPool.c
  ports/zephyr-cp/common-hal/socketpool/SocketPool.h
  ports/zephyr-cp/common-hal/socketpool/__init__.c
  ports/zephyr-cp/common-hal/socketpool/__init__.h
  ports/zephyr-cp/common-hal/wifi/Monitor.c
  ports/zephyr-cp/common-hal/wifi/Monitor.h
  ports/zephyr-cp/common-hal/wifi/Network.c
  ports/zephyr-cp/common-hal/wifi/Network.h
  ports/zephyr-cp/common-hal/wifi/Radio.c
  ports/zephyr-cp/common-hal/wifi/Radio.h
  ports/zephyr-cp/common-hal/wifi/ScannedNetworks.c
  ports/zephyr-cp/common-hal/wifi/ScannedNetworks.h
  ports/zephyr-cp/common-hal/wifi/__init__.c
  ports/zephyr-cp/common-hal/wifi/__init__.h
  ports/zephyr-cp/cptools/build_circuitpython.py
  ports/zephyr-cp/prj.conf
  ports/zephyr-cp/socs/nrf5340_cpunet.conf
  supervisor/shared/usb/usb.c
Due: translations, formatting
