Repository tannewt/circuitpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: translations, formatting

translations:
  name: Translations
  entry: sh -c "if ! make check-translate; then make translate; fi"
  pass_filenames: false
  language: system

formatting:
  name: Formatting
  entry: python3 tools/codeformat.py
  language: system

Cache docker build
  .github/workflows/build-zephyr-container.yml
Due: none

Tweak entry for cmake
  ports/zephyr-cp/entrypoint.sh
Due: none

Fix in dockerfile
  ports/zephyr-cp/Dockerfile
  ports/zephyr-cp/entrypoint.sh
Due: none

try again
  ports/zephyr-cp/Dockerfile
Due: none

and again
  ports/zephyr-cp/Dockerfile
Due: none

after looking at official example
  ports/zephyr-cp/Dockerfile
Due: none

find devicetree
  .github/workflows/run-tests.yml
Due: none

install curl
  ports/zephyr-cp/Dockerfile
Due: none

Cache zephyr init
  .github/actions/deps/ports/zephyr-cp/action.yml
  .github/actions/deps/ports/zephyr-cp/zephyr-setup/action.yml
Due: none

Go around cmake for translation to share zephyr build
  ports/zephyr-cp/CMakeLists.txt
  ports/zephyr-cp/Makefile
  ports/zephyr-cp/cptools/build_circuitpython.py
Due: formatting

Support ccache for build speedup
  ports/zephyr-cp/CMakeLists.txt
  ports/zephyr-cp/cptools/build_circuitpython.py
  ports/zephyr-cp/cptools/cpbuild.py
Due: formatting

Reset ccache stats
  ports/zephyr-cp/cptools/cpbuild.py
Due: formatting

llm notes for later
  ports/zephyr-cp/micropython-asyncio-c-summary.md
Due: none

Sketch out example of native asyncio support
  locale/circuitpython.pot
  ports/zephyr-cp/boards/native/native_sim/autogen_board_info.toml
  ports/zephyr-cp/common-hal/asyncexample/__init__.c
  ports/zephyr-cp/common-hal/asyncexample/__init__.h
  ports/zephyr-cp/cptools/build_circuitpython.py
  ports/zephyr-cp/tests/__init__.py
  ports/zephyr-cp/tests/conftest.py
  ports/zephyr-cp/tests/test_asyncexample.py
  py/circuitpy_defns.mk
  py/circuitpy_mpconfig.mk
  py/circuitpy_objawaitable.c
  py/circuitpy_objawaitable.h
  shared-bindings/asyncexample/__init__.c
  shared-bindings/asyncexample/__init__.h
Due: translations, formatting

Debugging BLE GATT
  ports/zephyr-cp/boards/adafruit/feather_nrf52840_zephyr/autogen_board_info.toml
  ports/zephyr-cp/boards/nordic/nrf5340dk/autogen_board_info.toml
  ports/zephyr-cp/boards/nxp/frdm_rw612/autogen_board_info.toml
  ports/zephyr-cp/common-hal/_bleio/Adapter.c
  ports/zephyr-cp/cptools/build_circuitpython.py
  ports/zephyr-cp/prj.conf
Due: translations, formatting

Implement GATT for Zephyr _bleio
  ports/zephyr-cp/boards/adafruit_feather_nrf52840_uf2.conf
  ports/zephyr-cp/boards/da14695_dk_usb.conf
  ports/zephyr-cp/boards/frdm_rw612.conf
  ports/zephyr-cp/boards/nrf5340bsim_nrf5340_cpuapp.conf
  ports/zephyr-cp/boards/nrf5340dk_nrf5340_cpuapp.conf
  ports/zephyr-cp/boards/nrf7002dk_nrf5340_cpuapp.conf
  ports/zephyr-cp/boards/renesas_da14695_dk_usb.conf
  ports/zephyr-cp/common-hal/_bleio/Adapter.c
  ports/zephyr-cp/common-hal/_bleio/Characteristic.c
  ports/zephyr-cp/common-hal/_bleio/Characteristic.h
  ports/zephyr-cp/common-hal/_bleio/Connection.c
  ports/zephyr-cp/common-hal/_bleio/Descriptor.c
  ports/zephyr-cp/common-hal/_bleio/Descriptor.h
  ports/zephyr-cp/common-hal/_bleio/Service.c
  ports/zephyr-cp/common-hal/_bleio/Service.h
  ports/zephyr-cp/common-hal/_bleio/__init__.h
  ports/zephyr-cp/tests/bsim/conftest.py
  ports/zephyr-cp/tests/bsim/samples/central_battery_client/CMakeLists.txt
  ports/zephyr-cp/tests/bsim/samples/central_battery_client/prj.conf
  ports/zephyr-cp/tests/bsim/samples/central_battery_client/src/main.c
  ports/zephyr-cp/tests/bsim/test_bsim_ble_service.py
Due: translations, formatting

Add p4hil board def
  ports/espressif/boards/p4hil/board.c
  ports/espressif/boards/p4hil/mpconfigboard.h
  ports/espressif/boards/p4hil/mpconfigboard.mk
  ports/espressif/boards/p4hil/pins.c
  ports/espressif/boards/p4hil/sdkconfig
Due: translations, formatting

vibed. untested
  locale/circuitpython.pot
  ports/espressif/CMakeLists.txt
  ports/espressif/Makefile
  ports/espressif/boards/espressif_esp32p4_function_ev/board.c
  ports/espressif/boards/espressif_esp32p4_function_ev/mpconfigboard.mk
  ports/espressif/boards/espressif_esp32p4_function_ev/pins.c
  ports/espressif/boards/espressif_esp32p4_function_ev/sdkconfig
  ports/espressif/common-hal/ethernet/Ethernet.c
  ports/espressif/common-hal/ethernet/Ethernet.h
  ports/espressif/common-hal/ethernet/__init__.c
  ports/espressif/common-hal/ethernet/__init__.h
  ports/espressif/common-hal/socketpool/Socket.c
  ports/espressif/common-hal/socketpool/SocketPool.c
  ports/espressif/common-hal/socketpool/__init__.c
  ports/espressif/common-hal/socketpool/__init__.h
  ports/zephyr-cp/boards/frdm_mcxn947_mcxn947_cpu0.conf
  ports/zephyr-cp/boards/frdm_rw612.conf
  ports/zephyr-cp/boards/nxp/frdm_mcxn947/autogen_board_info.toml
  ports/zephyr-cp/boards/nxp/frdm_rw612/autogen_board_info.toml
  ports/zephyr-cp/common-hal/ethernet/Ethernet.c
  ports/zephyr-cp/common-hal/ethernet/Ethernet.h
  ports/zephyr-cp/common-hal/ethernet/__init__.c
  ports/zephyr-cp/common-hal/ethernet/__init__.h
  ports/zephyr-cp/common-hal/socketpool/SocketPool.c
  ports/zephyr-cp/cptools/build_circuitpython.py
  ports/zephyr-cp/cptools/zephyr2cp.py
  py/circuitpy_defns.mk
  py/circuitpy_mpconfig.mk
  shared-bindings/ethernet/Ethernet.c
  shared-bindings/ethernet/Ethernet.h
  shared-bindings/ethernet/__init__.c
  shared-bindings/ethernet/__init__.h
Due: translations, formatting

vibed gb2350 board def
  ports/raspberrypi/boards/pygameboy_rp2350/board.c
  ports/raspberrypi/boards/pygameboy_rp2350/mpconfigboard.h
  ports/raspberrypi/boards/pygameboy_rp2350/mpconfigboard.mk
  ports/raspberrypi/boards/pygameboy_rp2350/pico-sdk-configboard.h
  ports/raspberrypi/boards/pygameboy_rp2350/pins.c
  py/circuitpy_defns.mk
Due: translations, formatting

Add _gbio module for GameBoy cart (gb_m4) support
  locale/circuitpython.pot
  ports/atmel-samd/Makefile
  ports/atmel-samd/audio_dma.c
  ports/atmel-samd/boards/common.template.ld
  ports/atmel-samd/boards/gb_m4/board.c
  ports/atmel-samd/boards/gb_m4/mpconfigboard.h
  ports/atmel-samd/boards/gb_m4/mpconfigboard.mk
  ports/atmel-samd/boards/gb_m4/pins.c
  ports/atmel-samd/common-hal/_gbio/__init__.c
  ports/atmel-samd/common-hal/_gbio/__init__.h
  ports/atmel-samd/common-hal/pwmio/PWMOut.c
  ports/atmel-samd/common-hal/pwmio/PWMOut.h
  ports/atmel-samd/supervisor/port.c
  py/circuitpy_defns.mk
  py/circuitpy_mpconfig.mk
  shared-bindings/_gbio/__init__.c
  shared-bindings/_gbio/__init__.h
Due: translations, formatting

More debugging
  locale/circuitpython.pot
  ports/raspberrypi/boards/pygameboy_rp2350/mpconfigboard.h
  ports/raspberrypi/boards/pygameboy_rp2350/mpconfigboard.mk
  ports/raspberrypi/boards/pygameboy_rp2350/pins.c
  ports/raspberrypi/common-hal/_gbio/__init__.c
  ports/raspberrypi/common-hal/_gbio/__init__.h
  ports/raspberrypi/supervisor/port.c
Due: translations, formatting

pre v8
  ports/raspberrypi/common-hal/_gbio/__init__.c
Due: translations, formatting

v8 basic update
  ports/raspberrypi/boards/pygameboy_rp2350/pins.c
  ports/raspberrypi/common-hal/_gbio/__init__.c
Due: translations, formatting

console to debug uart
  ports/raspberrypi/boards/pygameboy_rp2350/mpconfigboard.h
  ports/raspberrypi/boards/pygameboy_rp2350/pins.c
Due: translations, formatting

Debug capture works
  ports/raspberrypi/boards/pygameboy_rp2350/board.c
  ports/raspberrypi/common-hal/_gbio/__init__.c
  ports/raspberrypi/common-hal/microcontroller/Pin.c
Due: translations, formatting

Gets through boot!
  ports/raspberrypi/common-hal/_gbio/__init__.c
  ports/raspberrypi/supervisor/port.c
Due: translations, formatting

flat buffer
  ports/raspberrypi/common-hal/_gbio/__init__.c
Due: translations, formatting

flat logo
  ports/raspberrypi/common-hal/_gbio/__init__.c
Due: translations, formatting

Tweak DMA triggers
  ports/raspberrypi/common-hal/_gbio/__init__.c
Due: translations, formatting

Getting closer. Output SM looks right
  ports/raspberrypi/common-hal/_gbio/__init__.c
Due: translations, formatting

Start SMs right before lifting reset
  ports/raspberrypi/common-hal/_gbio/__init__.c
Due: translations, formatting

Correct chain runs. no output
  ports/raspberrypi/common-hal/_gbio/__init__.c
Due: translations, formatting

Connect pio0 to the pads
  ports/raspberrypi/common-hal/_gbio/__init__.c
Due: translations, formatting

Logo works
  ports/raspberrypi/common-hal/_gbio/__init__.c
Due: translations, formatting

Pocket GB boots up!
  ports/raspberrypi/common-hal/_gbio/__init__.c
Due: translations, formatting

LLM diagram of how it works
  ports/raspberrypi/common-hal/_gbio/ARCHITECTURE.md
  ports/raspberrypi/common-hal/_gbio/ARCHITECTURE.png
Due: none

DS4 (LLM) simplified diagram
  docs/gbio_flow.md
  docs/gbio_flow.png
Due: none

Memory print debugging
  ports/raspberrypi/common-hal/_gbio/__init__.c
  ports/raspberrypi/common-hal/_gbio/__init__.h
Due: translations, formatting

Debug both CS and A15
  ports/raspberrypi/common-hal/_gbio/__init__.c
Due: translations, formatting

Path conditions:
  translations: any of: \.(c|h)$
  formatting: any of: \.(c|h)$, \.py$
