Repository tannewt/circuitpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: translations, formatting

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: 2020 Diego Elio Petten√≤
#
# SPDX-License-Identifier: Unlicense

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
        exclude: '^(tests/.*\.exp|tests/cmdline/.*|tests/.*/data/.*|tools/fonts/.*)'
    -   id: trailing-whitespace
        exclude: '^(tests/.*\.exp|tests/cmdline/.*|tests/.*/data/.*|tools/fonts/.*|lib/mbedtls_errors/generate_errors.diff)'
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    -   id: codespell
        args: [-w]
        exclude: |
          (?x)^(
            locale/|
            lib/|
            tools/fonts/
          )
-   repo: local
    hooks:
    -   id: translations
        name: Translations
        entry: sh -c "if ! make check-translate; then make translate; fi"
        types: [c]
        pass_filenames: false
        language: system
    -   id: formatting
        name: Formatting
        entry: python3 tools/codeformat.py
        types_or: [c, python]
        language: system

Wifi scanning works. More RTOSification
  ports/zephyr-cp/bindings/zephyr_kernel/__init__.c
  ports/zephyr-cp/bindings/zephyr_kernel/__init__.h
  ports/zephyr-cp/common-hal/wifi/Network.c
  ports/zephyr-cp/common-hal/wifi/Radio.c
  ports/zephyr-cp/common-hal/wifi/Radio.h
  ports/zephyr-cp/common-hal/wifi/ScannedNetworks.c
  ports/zephyr-cp/common-hal/wifi/ScannedNetworks.h
  ports/zephyr-cp/common-hal/wifi/__init__.c
  ports/zephyr-cp/common-hal/zephyr_kernel/__init__.c
  ports/zephyr-cp/common-hal/zephyr_kernel/__init__.h
  ports/zephyr-cp/cptools/build_circuitpython.py
  ports/zephyr-cp/prj.conf
  ports/zephyr-cp/supervisor/port.c
  py/scheduler.c
  shared/runtime/interrupt_char.c
  shared/runtime/interrupt_char.h
Due: translations, formatting

start makefile wrapper
  docs/shared_bindings_matrix.py
  ports/zephyr-cp/.west/config
  ports/zephyr-cp/CMakeLists.txt
  ports/zephyr-cp/Makefile
  ports/zephyr-cp/boards/board_aliases.cmake
  ports/zephyr-cp/cptools/build_circuitpython.py
Due: formatting

fix qstr glob
  py/makeqstrdefs.py
Due: formatting

make matrix work with vendor board dirs
  docs/shared_bindings_matrix.py
  tools/ci_fetch_deps.py
  tools/ci_set_matrix.py
Due: formatting

Only one board from other ports
  ports/zephyr-cp/boards/renesas/ek_ra6m5/circuitpython.toml
  ports/zephyr-cp/boards/renesas/ek_ra8d1/circuitpython.toml
  tools/ci_set_matrix.py
Due: formatting

Pass in port. Setup Zephyr
  .github/actions/deps/ports/action.yml
  .github/actions/deps/ports/zephyr-cp/action.yml
  .github/workflows/build-boards.yml
  .github/workflows/build.yml
Due: none

Zephyr manifest
  .github/actions/deps/ports/zephyr-cp/action.yml
  .gitmodules
  ports/zephyr-cp/.gitignore
  ports/zephyr-cp/.west/config
  ports/zephyr-cp/cptools/build_circuitpython.py
  ports/zephyr-cp/supervisor/port.c
  ports/zephyr-cp/zephyr-config/west.yml
Due: translations, formatting

Set base path
  .github/actions/deps/ports/zephyr-cp/action.yml
Due: none

Switch to tinyusb
  .github/actions/deps/ports/zephyr-cp/action.yml
  .gitmodules
  main.c
Due: translations, formatting

no port_serial weak. fetch deps fix
  ports/analog/mpconfigport.mk
  ports/espressif/mpconfigport.mk
  ports/silabs/mpconfigport.mk
  ports/stm/mpconfigport.mk
  py/circuitpy_mpconfig.mk
  py/maketranslationdata.py
  supervisor/shared/serial.c
  tools/ci_fetch_deps.py
Due: translations, formatting

skip zephyr board settings
  tools/ci_set_matrix.py
Due: formatting

poke ci
  ports/zephyr-cp/boards/renesas/ek_ra6m5/circuitpython.toml
  ports/zephyr-cp/boards/renesas/ek_ra8d1/circuitpython.toml
Due: none

Detect board ids with vendor subdir
  ports/zephyr-cp/boards/renesas/ek_ra6m5/circuitpython.toml
  ports/zephyr-cp/boards/renesas/ek_ra8d1/circuitpython.toml
  tools/ci_set_matrix.py
Due: formatting

Use toml for board settings
  ports/zephyr-cp/CMakeLists.txt
  ports/zephyr-cp/Makefile
  ports/zephyr-cp/boards/board_aliases.cmake
  ports/zephyr-cp/boards/renesas/ek_ra6m5/circuitpython.toml
  ports/zephyr-cp/cptools/build_circuitpython.py
  ports/zephyr-cp/cptools/cpbuild.py
  ports/zephyr-cp/cptools/zephyr2cp.py
  tools/build_release_files.py
  tools/ci_fetch_deps.py
Due: formatting

zephyr-export
  .github/actions/deps/external/action.yml
  .github/actions/deps/ports/zephyr-cp/action.yml
  ports/analog/supervisor/serial.c
  ports/espressif/supervisor/serial.c
  ports/stm/supervisor/serial.c
Due: translations, formatting

switch to python version info getter
  .github/actions/deps/submodules/action.yml
  .github/workflows/build-board-custom.yml
  conf.py
  py/makeversionhdr.py
  py/version.py
  setup.py-stubs
  tools/describe
Due: formatting

zephyr working dir
  .github/actions/deps/ports/zephyr-cp/action.yml
Due: none

skip venv cache for zephyr
  .github/actions/deps/external/action.yml
Due: none

Add Windows Zephyr build
  .github/workflows/build.yml
Due: none

Simplify QSTR computation
  ports/zephyr-cp/cptools/build_circuitpython.py
  py/makeqstrdata.py
Due: formatting

Add submodule target for windows-zephyr
  tools/ci_fetch_deps.py
Due: formatting

Use 3.13 in windows-zephyr
  .github/workflows/build.yml
Due: none

Use CURDIR
  ports/zephyr-cp/Makefile
  ports/zephyr-cp/boards/renesas/ek_ra8d1/circuitpython.toml
Due: none

always run windows zephyr
  .github/workflows/build.yml
Due: none

list files with @
  ports/zephyr-cp/cptools/cpbuild.py
Due: formatting

Space separate
  ports/zephyr-cp/cptools/cpbuild.py
Due: formatting

do we need to escape backslash?
  ports/zephyr-cp/cptools/cpbuild.py
Due: formatting

Switch slashes
  ports/zephyr-cp/cptools/cpbuild.py
Due: formatting

test on windows-2022 too
  .github/workflows/build.yml
Due: none

Add nrf boards
  ports/zephyr-cp/CMakeLists.txt
  ports/zephyr-cp/Makefile
  ports/zephyr-cp/boards/board_aliases.cmake
  ports/zephyr-cp/boards/nordic/nrf5340dk/circuitpython.toml
  ports/zephyr-cp/boards/nordic/nrf54l15dk/circuitpython.toml
  ports/zephyr-cp/boards/nordic/nrf7002dk/circuitpython.toml
  ports/zephyr-cp/cptools/build_circuitpython.py
  ports/zephyr-cp/cptools/cpbuild.py
Due: formatting

Handle blob fetches. More config work
  ports/zephyr-cp/Makefile
  ports/zephyr-cp/bindings/zephyr_serial/UART.c
  ports/zephyr-cp/bindings/zephyr_serial/UART.h
  ports/zephyr-cp/bindings/zephyr_serial/__init__.c
  ports/zephyr-cp/bindings/zephyr_serial/__init__.h
  ports/zephyr-cp/boards/nordic/nrf7002dk/circuitpython.toml
  ports/zephyr-cp/common-hal/zephyr_i2c/I2C.c
  ports/zephyr-cp/common-hal/zephyr_i2c/I2C.h
  ports/zephyr-cp/common-hal/zephyr_i2c/__init__.c
  ports/zephyr-cp/common-hal/zephyr_serial/UART.c
  ports/zephyr-cp/common-hal/zephyr_serial/UART.h
  ports/zephyr-cp/common-hal/zephyr_serial/__init__.c
  ports/zephyr-cp/common-hal/zephyr_spi/SPI.c
  ports/zephyr-cp/common-hal/zephyr_spi/SPI.h
  ports/zephyr-cp/common-hal/zephyr_spi/__init__.c
  ports/zephyr-cp/cptools/board_tools.py
  ports/zephyr-cp/cptools/build_circuitpython.py
  ports/zephyr-cp/cptools/pre_zephyr_build_prep.py
  ports/zephyr-cp/cptools/zephyr2cp.py
Due: translations, formatting

tweak matrix
  tools/ci_set_matrix.py
Due: formatting

toml file
  ports/zephyr-cp/cptools/build_circuitpython.py
  ports/zephyr-cp/supervisor/serial.c
  requirements-dev.txt
Due: translations, formatting

Autogened module info
  ports/zephyr-cp/Makefile
  ports/zephyr-cp/boards/nordic/nrf5340dk/autogen_modules.toml
  ports/zephyr-cp/boards/nordic/nrf54l15dk/autogen_modules.toml
  ports/zephyr-cp/boards/nordic/nrf7002dk/autogen_modules.toml
  ports/zephyr-cp/boards/nrf5340dk_nrf5340_cpuapp.conf
  ports/zephyr-cp/boards/renesas/ek_ra6m5/autogen_modules.toml
  ports/zephyr-cp/boards/renesas/ek_ra8d1/autogen_modules.toml
  ports/zephyr-cp/common-hal/zephyr_serial/UART.c
  ports/zephyr-cp/cptools/build_circuitpython.py
  ports/zephyr-cp/prj.conf
Due: translations, formatting

don't compute settings
  tools/ci_set_matrix.py
Due: formatting

Fix stub generation
  docs/shared_bindings_matrix.py
Due: formatting

Add ST boards
  ports/zephyr-cp/Makefile
  ports/zephyr-cp/boards/board_aliases.cmake
  ports/zephyr-cp/boards/st/nucleo_u575zi_q/autogen_modules.toml
  ports/zephyr-cp/boards/st/nucleo_u575zi_q/circuitpython.toml
  ports/zephyr-cp/boards/st/stm32h7b3i_dk/autogen_modules.toml
  ports/zephyr-cp/boards/st/stm32h7b3i_dk/circuitpython.toml
  ports/zephyr-cp/boards/stm32h7b3i_dk.overlay
  ports/zephyr-cp/cptools/build_circuitpython.py
  ports/zephyr-cp/cptools/cpbuild.py
  ports/zephyr-cp/cptools/zephyr2cp.py
  ports/zephyr-cp/prj.conf
  ports/zephyr-cp/socs/stm32h7b3xx.conf
  ports/zephyr-cp/supervisor/flash.c
  shared-module/storage/__init__.c
  shared-module/storage/__init__.h
  supervisor/linker.h
  supervisor/shared/usb/usb_desc.c
  supervisor/shared/usb/usb_msc_flash.c
  supervisor/usb.h
Due: translations, formatting

Only remove if board is included
  tools/ci_set_matrix.py
Due: formatting

Switch to autogen board info. Test RA8
  conf.py
  docs/shared_bindings_matrix.py
  docs/supported_ports.rst
  ports/zephyr-cp/README.md
  ports/zephyr-cp/bindings/zephyr_serial/UART.c
  ports/zephyr-cp/bindings/zephyr_serial/__init__.c
  ports/zephyr-cp/boards/nordic/nrf5340dk/autogen_board_info.toml
  ports/zephyr-cp/boards/nordic/nrf54l15dk/autogen_board_info.toml
  ports/zephyr-cp/boards/nordic/nrf7002dk/autogen_board_info.toml
  ports/zephyr-cp/boards/renesas/ek_ra6m5/autogen_board_info.toml
  ports/zephyr-cp/boards/renesas/ek_ra8d1/autogen_board_info.toml
  ports/zephyr-cp/boards/st/nucleo_u575zi_q/autogen_board_info.toml
  ports/zephyr-cp/boards/st/stm32h7b3i_dk/autogen_board_info.toml
  ports/zephyr-cp/cptools/build_circuitpython.py
  ports/zephyr-cp/socs/r7fa8d1bhecbd.conf
  ports/zephyr-cp/supervisor/serial.c
  supervisor/shared/usb/usb_desc.c
Due: translations, formatting
