Repository tannewt/circuitpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: translations, formatting

translations:
  name: Translations
  entry: sh -c "if ! make check-translate; then make translate; fi"
  pass_filenames: false
  language: system

formatting:
  name: Formatting
  entry: python3 tools/codeformat.py
  language: system

Add mipidsi module for MIPI DSI displays
  locale/circuitpython.pot
  ports/espressif/Makefile
  ports/espressif/boards/espressif_esp32p4_function_ev/mpconfigboard.h
  ports/espressif/boards/espressif_esp32p4_function_ev/pins.c
  ports/espressif/boards/m5stack_tab5/board.c
  ports/espressif/boards/m5stack_tab5/mpconfigboard.h
  ports/espressif/boards/m5stack_tab5/mpconfigboard.mk
  ports/espressif/boards/m5stack_tab5/pins.c
  ports/espressif/boards/m5stack_tab5/sdkconfig
  ports/espressif/common-hal/microcontroller/Pin.c
  ports/espressif/common-hal/mipidsi/Bus.c
  ports/espressif/common-hal/mipidsi/Bus.h
  ports/espressif/common-hal/mipidsi/Display.c
  ports/espressif/common-hal/mipidsi/Display.h
  ports/espressif/common-hal/mipidsi/__init__.c
  ports/espressif/common-hal/mipidsi/__init__.h
  ports/espressif/mpconfigport.mk
  ports/espressif/supervisor/port.c
  py/circuitpy_defns.mk
  py/circuitpy_mpconfig.mk
  shared-bindings/mipidsi/Bus.c
  shared-bindings/mipidsi/Bus.h
  shared-bindings/mipidsi/Display.c
  shared-bindings/mipidsi/Display.h
  shared-bindings/mipidsi/__init__.c
  shared-bindings/mipidsi/__init__.h
  shared-module/displayio/__init__.h
Due: translations, formatting

ports/espressif: add MT* pin aliases to seeed xiao esp32s3 sense board
  ports/espressif/boards/seeed_xiao_esp32_s3_sense/pins.c
Due: translations, formatting

ports/espressif: add back the I2S pin aliases
  ports/espressif/boards/seeed_xiao_esp32_s3_sense/pins.c
Due: translations, formatting

seeed_xiao_esp32_s3_sense: stylize pins.c
  ports/espressif/boards/seeed_xiao_esp32_s3_sense/pins.c
Due: translations, formatting

seeed_xiao_esp32_s3_sense: add back pin alias
  ports/espressif/boards/seeed_xiao_esp32_s3_sense/pins.c
Due: translations, formatting

Fix Zephyr build
  ports/zephyr-cp/boards/nordic/nrf5340dk/autogen_board_info.toml
  ports/zephyr-cp/boards/nordic/nrf54l15dk/autogen_board_info.toml
  ports/zephyr-cp/boards/nordic/nrf7002dk/autogen_board_info.toml
  ports/zephyr-cp/boards/renesas/ek_ra6m5/autogen_board_info.toml
  ports/zephyr-cp/boards/renesas/ek_ra8d1/autogen_board_info.toml
  ports/zephyr-cp/boards/st/nucleo_u575zi_q/autogen_board_info.toml
  ports/zephyr-cp/boards/st/stm32h7b3i_dk/autogen_board_info.toml
Due: none

Update translation files
  locale/cs.po
  locale/ru.po
  locale/tr.po
Due: none

espressif_esp32p4_function_ev/pins.c: add whitespace to clearly show pin aliases
  ports/espressif/boards/espressif_esp32p4_function_ev/pins.c
Due: translations, formatting

Better reasoned allocations
  ports/espressif/common-hal/mipidsi/Bus.c
  ports/espressif/common-hal/mipidsi/Bus.h
  ports/espressif/common-hal/mipidsi/Display.c
  shared-bindings/mipidsi/Bus.c
  shared-bindings/mipidsi/Display.c
  shared-module/displayio/__init__.c
Due: translations, formatting

Use latest macos in CI
  .github/workflows/build.yml
Due: none

stop building intel and universal macos mpy-cross
  .github/workflows/build.yml
Due: none

Update translation files
  locale/cs.po
  locale/el.po
  locale/hi.po
  locale/ko.po
  locale/ru.po
  locale/tr.po
Due: none

Fix mipidsi cache flush
  ports/espressif/common-hal/mipidsi/Display.c
Due: translations, formatting

Enable OV3660 camera support on XIAO S3
  ports/espressif/boards/seeed_xiao_esp32_s3_sense/sdkconfig
Due: none

Allow microcontroller.nvm to be bigger than 8k
  shared-bindings/nvm/ByteArray.c
Due: translations, formatting

Update to Zephyr v4.3.0
  .github/actions/deps/ports/zephyr-cp/action.yml
  ports/zephyr-cp/README.md
  ports/zephyr-cp/boards/nrf7002dk_nrf5340_cpuapp.conf
  ports/zephyr-cp/cptools/build_circuitpython.py
  ports/zephyr-cp/cptools/compat2driver.py
  ports/zephyr-cp/cptools/cpbuild.py
  ports/zephyr-cp/cptools/gen_compat2driver.py
  ports/zephyr-cp/cptools/zephyr2cp.py
  ports/zephyr-cp/prj.conf
  ports/zephyr-cp/zephyr-config/west.yml
Due: formatting

hack_club_sprig: add board.SPI() for display and SD card use
  ports/raspberrypi/boards/hack_club_sprig/board.c
  ports/raspberrypi/boards/hack_club_sprig/mpconfigboard.h
  ports/raspberrypi/boards/hack_club_sprig/pins.c
Due: translations, formatting

bitmaptools.replace_color() function
  shared-bindings/bitmaptools/__init__.c
  shared-bindings/bitmaptools/__init__.h
  shared-module/bitmaptools/__init__.c
Due: translations, formatting

fix code format
  shared-module/bitmaptools/__init__.c
Due: translations, formatting

simpler arg name, validate bitmap type, reuse error message, remove unneeded required arg default values.
  shared-bindings/bitmaptools/__init__.c
Due: translations, formatting

-Wno-missing-field-initializers on unix port make
  ports/unix/Makefile
Due: none

Add I2C support to the Zephyr builds
  locale/circuitpython.pot
  ports/zephyr-cp/bindings/zephyr_i2c/I2C.c
  ports/zephyr-cp/bindings/zephyr_i2c/I2C.h
  ports/zephyr-cp/bindings/zephyr_i2c/__init__.c
  ports/zephyr-cp/boards/board_aliases.cmake
  ports/zephyr-cp/boards/nordic/nrf5340dk/autogen_board_info.toml
  ports/zephyr-cp/boards/nordic/nrf54h20dk/autogen_board_info.toml
  ports/zephyr-cp/boards/nordic/nrf54h20dk/circuitpython.toml
  ports/zephyr-cp/boards/nordic/nrf54l15dk/autogen_board_info.toml
  ports/zephyr-cp/boards/nordic/nrf7002dk/autogen_board_info.toml
  ports/zephyr-cp/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  ports/zephyr-cp/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
  ports/zephyr-cp/boards/nucleo_n657x0_q.overlay
  ports/zephyr-cp/boards/renesas/ek_ra6m5/autogen_board_info.toml
  ports/zephyr-cp/boards/st/nucleo_n657x0_q/autogen_board_info.toml
  ports/zephyr-cp/boards/st/nucleo_n657x0_q/circuitpython.toml
  ports/zephyr-cp/boards/st/nucleo_u575zi_q/autogen_board_info.toml
  ports/zephyr-cp/boards/st/stm32h7b3i_dk/autogen_board_info.toml
  ports/zephyr-cp/common-hal/zephyr_i2c/I2C.c
  ports/zephyr-cp/common-hal/zephyr_i2c/I2C.h
  ports/zephyr-cp/common-hal/zephyr_serial/UART.c
  ports/zephyr-cp/common-hal/zephyr_serial/UART.h
  ports/zephyr-cp/cptools/build_circuitpython.py
  ports/zephyr-cp/cptools/zephyr2cp.py
  ports/zephyr-cp/prj.conf
  ports/zephyr-cp/supervisor/flash.c
Due: translations, formatting

Allow swapping LSFS USB on ESP32-P4 to USB OTG
  ports/analog/boards/apard32690/mpconfigboard.mk
  ports/analog/boards/max32690evkit/mpconfigboard.mk
  ports/analog/mpconfigport.h
  ports/broadcom/mpconfigport.h
  ports/broadcom/mpconfigport.mk
  ports/cxd56/mpconfigport.h
  ports/cxd56/mpconfigport.mk
  ports/espressif/boards/m5stack_tab5/mpconfigboard.h
  ports/espressif/common-hal/microcontroller/Pin.c
  ports/espressif/mpconfigport.h
  ports/espressif/mpconfigport.mk
  ports/espressif/supervisor/usb.c
  ports/mimxrt10xx/mpconfigport.h
  ports/mimxrt10xx/mpconfigport.mk
  py/circuitpy_mpconfig.h
  shared-module/usb_cdc/__init__.c
  shared-module/usb_midi/__init__.c
  supervisor/shared/usb/tusb_config.h
  supervisor/shared/usb/usb_msc_flash.c
  supervisor/supervisor.mk
Due: translations, formatting

Fix board autogen
  ports/zephyr-cp/boards/nordic/nrf7002dk/autogen_board_info.toml
Due: none

Fix doc build
  ports/zephyr-cp/bindings/zephyr_i2c/I2C.c
Due: translations, formatting

add studiolab_picoexpander# Please enter the commit message for your changes. Lines starting
  ports/raspberrypi/boards/studiolab_picoexpander/board.c
  ports/raspberrypi/boards/studiolab_picoexpander/link.ld
  ports/raspberrypi/boards/studiolab_picoexpander/mpconfigboard.h
  ports/raspberrypi/boards/studiolab_picoexpander/mpconfigboard.mk
  ports/raspberrypi/boards/studiolab_picoexpander/pico-sdk-configboard.h
  ports/raspberrypi/boards/studiolab_picoexpander/pins.c
Due: translations, formatting

Correct PID and VID
  ports/raspberrypi/boards/studiolab_picoexpander/mpconfigboard.mk
Due: none

Fix ESP builds
  ports/espressif/supervisor/usb.c
Due: translations, formatting

implement hashlib.new('sha256') support
  py/circuitpy_mpconfig.mk
  shared-module/hashlib/Hash.c
  shared-module/hashlib/Hash.h
  shared-module/hashlib/__init__.c
  shared-module/hashlib/__init__.h
Due: translations, formatting

enable hashlib sha1 & sha256 for CLUE board
  ports/nordic/boards/clue_nrf52840_express/mpconfigboard.mk
Due: none

Add mutable brightness
  ports/espressif/common-hal/microcontroller/Pin.c
  ports/espressif/common-hal/mipidsi/Display.c
  ports/espressif/common-hal/mipidsi/Display.h
  shared-bindings/mipidsi/Display.c
  shared-bindings/mipidsi/Display.h
Due: translations, formatting

Add parens
  ports/zephyr-cp/bindings/zephyr_i2c/I2C.c
Due: translations, formatting

default to enabling SHA256 when hashlib is enabled
  py/circuitpy_mpconfig.mk
Due: none

turn on hashlib for all nrf52840 boards
  ports/nordic/mpconfigport.mk
Due: none

remove redundant hashlib enable for CLUE
  ports/nordic/boards/clue_nrf52840_express/mpconfigboard.mk
Due: none

remove CIRCUITPY_HASHLIB_SHA256 ifdef guards
  py/circuitpy_mpconfig.mk
  shared-module/hashlib/Hash.c
  shared-module/hashlib/Hash.h
  shared-module/hashlib/__init__.c
  shared-module/hashlib/__init__.h
Due: translations, formatting

Init older M5Stack Tab5 display
  ports/espressif/boards/m5stack_tab5/board.c
Due: translations, formatting

Path conditions:
  translations: any of: \.(c|h)$
  formatting: any of: \.(c|h)$, \.py$
