Repository tannewt/circuitpython: changes, and which pre-commit hooks are due for each by the changed paths.
All: translations, formatting

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: 2020 Diego Elio Petten√≤
#
# SPDX-License-Identifier: Unlicense

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
        exclude: '^(tests/.*\.exp|tests/cmdline/.*|tests/.*/data/.*|tools/fonts/.*)'
    -   id: trailing-whitespace
        exclude: '^(tests/.*\.exp|tests/cmdline/.*|tests/.*/data/.*|tools/fonts/.*|lib/mbedtls_errors/generate_errors.diff)'
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    -   id: codespell
        args: [-w]
        exclude: |
          (?x)^(
            locale/|
            lib/|
            tools/fonts/
          )
-   repo: local
    hooks:
    -   id: translations
        name: Translations
        entry: sh -c "if ! make check-translate; then make translate; fi"
        types: [c]
        pass_filenames: false
        language: system
    -   id: formatting
        name: Formatting
        entry: python3 tools/codeformat.py
        types_or: [c, python]
        language: system

Use debug zephyr
  ports/zephyr-cp/zephyr-config/west.yml
Due: none

More native sim debugging
  ports/zephyr-cp/zephyr-config/west.yml
Due: none

Update Zephyr autogen for emmcio, picogame, board
  ports/zephyr-cp/boards/adafruit/clue_nrf52840_zephyr/autogen_board_info.toml
  ports/zephyr-cp/boards/adafruit/feather_nrf52840_sense_zephyr/autogen_board_info.toml
  ports/zephyr-cp/boards/adafruit/feather_nrf52840_zephyr/autogen_board_info.toml
  ports/zephyr-cp/boards/adafruit/feather_rp2040_zephyr/autogen_board_info.toml
  ports/zephyr-cp/boards/native/native_sim/autogen_board_info.toml
  ports/zephyr-cp/boards/native/nrf5340bsim/autogen_board_info.toml
  ports/zephyr-cp/boards/native/nrf54lm20bsim/autogen_board_info.toml
  ports/zephyr-cp/boards/nordic/nrf5340dk/autogen_board_info.toml
  ports/zephyr-cp/boards/nordic/nrf54h20dk/autogen_board_info.toml
  ports/zephyr-cp/boards/nordic/nrf54l15dk/autogen_board_info.toml
  ports/zephyr-cp/boards/nordic/nrf54l15tag/autogen_board_info.toml
  ports/zephyr-cp/boards/nordic/nrf54lm20dk/autogen_board_info.toml
  ports/zephyr-cp/boards/nordic/nrf7002dk/autogen_board_info.toml
  ports/zephyr-cp/boards/nxp/frdm_mcxn947/autogen_board_info.toml
  ports/zephyr-cp/boards/nxp/frdm_rw612/autogen_board_info.toml
  ports/zephyr-cp/boards/nxp/mimxrt1170_evk/autogen_board_info.toml
  ports/zephyr-cp/boards/raspberrypi/rpi_pico2_w_zephyr/autogen_board_info.toml
  ports/zephyr-cp/boards/raspberrypi/rpi_pico2_zephyr/autogen_board_info.toml
  ports/zephyr-cp/boards/raspberrypi/rpi_pico_w_zephyr/autogen_board_info.toml
  ports/zephyr-cp/boards/raspberrypi/rpi_pico_zephyr/autogen_board_info.toml
  ports/zephyr-cp/boards/renesas/da14695_dk_usb/autogen_board_info.toml
  ports/zephyr-cp/boards/renesas/ek_ra6m5/autogen_board_info.toml
  ports/zephyr-cp/boards/renesas/ek_ra8d1/autogen_board_info.toml
  ports/zephyr-cp/boards/silabs/siwx917_dk2605a/autogen_board_info.toml
  ports/zephyr-cp/boards/st/nucleo_n657x0_q/autogen_board_info.toml
  ports/zephyr-cp/boards/st/nucleo_u575zi_q/autogen_board_info.toml
  ports/zephyr-cp/boards/st/stm32h750b_dk/autogen_board_info.toml
  ports/zephyr-cp/boards/st/stm32h7b3i_dk/autogen_board_info.toml
  ports/zephyr-cp/boards/st/stm32wba65i_dk1/autogen_board_info.toml
  ports/zephyr-cp/cptools/build_circuitpython.py
Due: formatting

Don't close libsdl when resetting
  ports/zephyr-cp/CMakeLists.txt
  ports/zephyr-cp/native_sim_dlclose.c
  ports/zephyr-cp/zephyr-config/west.yml
Due: translations, formatting

Add plain reset test
  .github/workflows/run-tests.yml
  ports/zephyr-cp/tests/test_reset.py
Due: formatting

Print out SDL environment on GHA
  .github/workflows/run-tests.yml
  ports/zephyr-cp/tests/conftest.py
Due: formatting

espressif: Don't drop Characteristic.value notifications under load
  ports/espressif/common-hal/_bleio/Adapter.c
  ports/espressif/common-hal/_bleio/Adapter.h
  ports/espressif/common-hal/_bleio/Characteristic.c
  ports/espressif/common-hal/_bleio/Characteristic.h
  ports/espressif/common-hal/_bleio/Connection.h
  ports/espressif/common-hal/_bleio/PacketBuffer.c
  ports/espressif/common-hal/_bleio/Service.c
  ports/espressif/common-hal/_bleio/Service.h
  ports/espressif/common-hal/_bleio/__init__.c
  ports/espressif/common-hal/_bleio/ble_events.c
Due: translations, formatting

Print out video driver and run display test
  .github/workflows/run-tests.yml
  ports/zephyr-cp/zephyr-config/west.yml
Due: none

Print display test output
  .github/workflows/run-tests.yml
Due: none

espressif: Bound the number of characteristics in a Service
  locale/circuitpython.pot
  ports/espressif/common-hal/_bleio/Characteristic.c
  ports/espressif/common-hal/_bleio/Service.c
Due: translations, formatting

Use dummy backend
  ports/zephyr-cp/tests/conftest.py
Due: formatting

Use dummy SDL video driver for native sim
  main.c
  ports/zephyr-cp/common-hal/microcontroller/Processor.c
  ports/zephyr-cp/supervisor/port.c
  ports/zephyr-cp/tests/bsim/test_bsim_ble_adapter.py
  ports/zephyr-cp/tests/bsim/test_bsim_ble_advertising.py
  ports/zephyr-cp/tests/bsim/test_bsim_ble_connect.py
  ports/zephyr-cp/tests/bsim/test_bsim_ble_scan.py
  ports/zephyr-cp/tests/conftest.py
  ports/zephyr-cp/tests/test_audiobusio.py
  ports/zephyr-cp/tests/test_basics.py
  ports/zephyr-cp/tests/test_nvm.py
  ports/zephyr-cp/tests/test_reset.py
  ports/zephyr-cp/tests/test_saved_word.py
  ports/zephyr-cp/tests/test_storage.py
  ports/zephyr-cp/zephyr-config/west.yml
Due: translations, formatting

espressif: Don't run out of BLE CCCDs
  ports/espressif/common-hal/_bleio/Adapter.c
Due: translations, formatting

Fix rp2 MDNS wifi hostname
  ports/raspberrypi/common-hal/mdns/Server.c
Due: translations, formatting

picogame: validate the original object when the display cast yields NULL
  shared-bindings/picogame/Display.c
  shared-bindings/picogame/Scene.c
  shared-bindings/picogame/__init__.c
Due: translations, formatting

espressif/peripherals/touch.c: fix previous bad editing
  ports/espressif/peripherals/touch.c
Due: translations, formatting

Don't request hardware acceleration for SDL
  ports/zephyr-cp/boards/native/native_sim/board.conf
Due: none

Add an asan native_sim build
  ports/zephyr-cp/Makefile
  ports/zephyr-cp/boards/board_aliases.cmake
  ports/zephyr-cp/boards/native/native_sim_asan/autogen_board_info.toml
  ports/zephyr-cp/boards/native/native_sim_asan/board.conf
  ports/zephyr-cp/boards/native/native_sim_asan/board.overlay
  ports/zephyr-cp/boards/native/native_sim_asan/circuitpython.toml
  ports/zephyr-cp/supervisor/port.c
  ports/zephyr-cp/tests/conftest.py
  ports/zephyr-cp/tests/test_basics.py
  ports/zephyr-cp/zephyr_main.c
  shared-module/terminalio/Terminal.c
  shared/runtime/stdout_helpers.c
Due: translations, formatting

Delegate partitioning to adaboot, even when other bootloaders are used
  ports/zephyr-cp/Kconfig
  ports/zephyr-cp/Makefile
  ports/zephyr-cp/boards/README.md
  ports/zephyr-cp/boards/adafruit/clue_nrf52840_zephyr/board.overlay
  ports/zephyr-cp/boards/adafruit/feather_nrf52840_sense_zephyr/board.overlay
  ports/zephyr-cp/boards/adafruit/feather_nrf52840_zephyr/board.overlay
  ports/zephyr-cp/boards/adafruit/feather_rp2040_zephyr/board.overlay
  ports/zephyr-cp/boards/native/native_sim/board.overlay
  ports/zephyr-cp/boards/native/nrf5340bsim/board.overlay
  ports/zephyr-cp/boards/native/nrf54lm20bsim/board.overlay
  ports/zephyr-cp/boards/nordic/nrf54lm20dk/board.overlay
  ports/zephyr-cp/boards/raspberrypi/rpi_pico2_w_zephyr/board.overlay
  ports/zephyr-cp/boards/raspberrypi/rpi_pico2_zephyr/board.overlay
  ports/zephyr-cp/boards/raspberrypi/rpi_pico_w_zephyr/board.overlay
  ports/zephyr-cp/boards/raspberrypi/rpi_pico_zephyr/board.overlay
  ports/zephyr-cp/boards/st/nucleo_n657x0_q/board.conf
  ports/zephyr-cp/boards/st/stm32h750b_dk/autogen_board_info.toml
  ports/zephyr-cp/boards/st/stm32h750b_dk/board.overlay
  ports/zephyr-cp/boards/st/stm32wba65i_dk1/board.overlay
  ports/zephyr-cp/cptools/zephyr2cp.py
  ports/zephyr-cp/sysbuild/mcuboot.conf
  ports/zephyr-cp/zephyr-config/west.yml
  py/version.py
Due: formatting

hardwarekey: rename the securekey module to hardwarekey
  locale/circuitpython.pot
  ports/espressif/common-hal/hardwarekey/HardwareKey.c
  ports/espressif/common-hal/hardwarekey/__init__.c
  ports/espressif/mpconfigport.mk
  py/circuitpy_defns.mk
  py/circuitpy_mpconfig.mk
  shared-bindings/hardwarekey/HardwareKey.c
  shared-bindings/hardwarekey/HardwareKey.h
  shared-bindings/hardwarekey/__init__.c
  shared-bindings/hardwarekey/__init__.h
  shared-module/hardwarekey/HardwareKey.c
  shared-module/hardwarekey/HardwareKey.h
Due: translations, formatting

hardwarekey: make HardwareKey a board object; add Purpose
  locale/circuitpython.pot
  ports/espressif/common-hal/hardwarekey/HardwareKey.c
  ports/espressif/common-hal/hardwarekey/__init__.c
  ports/espressif/common-hal/hardwarekey/__init__.h
  ports/espressif/common-hal/hardwarekey/board.h
  ports/espressif/supervisor/port.c
  shared-bindings/board/__init__.h
  shared-bindings/hardwarekey/HardwareKey.c
  shared-bindings/hardwarekey/__init__.c
  shared-bindings/hardwarekey/__init__.h
  shared-module/hardwarekey/HardwareKey.c
  shared-module/hardwarekey/HardwareKey.h
Due: translations, formatting

hardwarekey: use HardwareKey through the hmac module
  locale/circuitpython.pot
  shared-bindings/hardwarekey/HardwareKey.c
  shared-bindings/hardwarekey/HardwareKey.h
  shared-bindings/hmac/__init__.c
  shared-module/hardwarekey/HardwareKey.c
  shared-module/hardwarekey/HardwareKey.h
  shared-module/hmac/HMAC.c
Due: translations, formatting

hardwarekey: make HardwareKey falsy when unused
  shared-bindings/hardwarekey/HardwareKey.c
Due: translations, formatting

shrink boards that overflow after the v1.29 merge
  ports/atmel-samd/boards/adafruit_pixel_trinkey_m0/mpconfigboard.mk
  ports/atmel-samd/boards/circuitbrains_deluxe_m4/mpconfigboard.mk
  ports/atmel-samd/boards/datalore_ip_m4/mpconfigboard.mk
  ports/atmel-samd/boards/kicksat-sprite/mpconfigboard.mk
  ports/atmel-samd/boards/openbook_m4/mpconfigboard.mk
  ports/atmel-samd/boards/silicognition-m4-shim/mpconfigboard.mk
  ports/nordic/boards/bless_dev_board_multi_sensor/mpconfigboard.mk
  ports/nordic/boards/bluemicro840/mpconfigboard.mk
  ports/nordic/boards/electronut_labs_blip/mpconfigboard.mk
  ports/nordic/boards/nice_nano/mpconfigboard.mk
  ports/nordic/boards/pillbug/mpconfigboard.mk
  ports/nordic/boards/supermini_nrf52840/mpconfigboard.mk
Due: none

py: set the Thumb bit on code pointers only when compiling for Thumb
  py/circuitpy_mpconfig.h
Due: translations, formatting

Update translation files
  locale/cs.po
  locale/el.po
  locale/hi.po
  locale/ko.po
  locale/ru.po
  locale/tr.po
Due: none

supervisor: size the terminal font bitmap for the glyphs the font has
  tools/gen_display_resources.py
Due: formatting

zephyr-cp: keep the BLE workflow connection across reloads; fix bonding at boot
  ports/zephyr-cp/common-hal/_bleio/Adapter.c
  ports/zephyr-cp/common-hal/_bleio/Adapter.h
  ports/zephyr-cp/common-hal/_bleio/Connection.h
  ports/zephyr-cp/common-hal/_bleio/PacketBuffer.c
  ports/zephyr-cp/common-hal/_bleio/Service.c
  ports/zephyr-cp/common-hal/_bleio/Service.h
  ports/zephyr-cp/common-hal/_bleio/__init__.c
  ports/zephyr-cp/prj.conf
  ports/zephyr-cp/tests/bsim/test_bsim_ble_adapter.py
  ports/zephyr-cp/tests/bsim/test_bsim_ble_workflow_reload.py
Due: translations, formatting

audiodelays, audiofilters, audiofreeverb: buffer lengths and silence fills
  shared-module/audiodelays/Chorus.c
  shared-module/audiodelays/Echo.c
  shared-module/audiodelays/GranularPitchShift.c
  shared-module/audiodelays/MultiTapDelay.c
  shared-module/audiodelays/PitchShift.c
  shared-module/audiofilters/Distortion.c
  shared-module/audiofilters/Filter.c
  shared-module/audiofilters/__init__.c
  shared-module/audiofreeverb/Freeverb.c
Due: translations, formatting

audio: validate arguments before narrowing them, and end an MP3 with DONE
  shared-bindings/audiobusio/I2SOut.c
  shared-bindings/audiobusio/PDMIn.c
  shared-bindings/audiocore/__init__.c
  shared-bindings/audiomixer/Mixer.c
  shared-module/audiomixer/Mixer.c
  shared-module/audiomp3/MP3Decoder.c
Due: translations, formatting

supervisor: time the BLE discovery window from after the bond check
  supervisor/shared/bluetooth/bluetooth.c
Due: translations, formatting

Shrink compressed translations: dense alphabet, per-class Huffman, optimal parsing
  py/maketranslationdata.py
  supervisor/shared/translate/compressed_string.h
  supervisor/shared/translate/translate.c
Due: translations, formatting

synthio: a freed track buffer, a ring modulation sign flip, reads past the end
  shared-bindings/synthio/MidiTrack.c
  shared-bindings/synthio/Synthesizer.c
  shared-bindings/synthio/__init__.c
  shared-module/synthio/MidiTrack.c
  shared-module/synthio/__init__.c
Due: translations, formatting

Regenerate translation data when TRANSLATION changes in a build dir
  py/py.mk
Due: none

nordic, stm, mimxrt10xx, analog: shrink property objects
  ports/analog/linking/max32690_cktpy.ld
  ports/analog/mpconfigport.mk
  ports/mimxrt10xx/linking/common.ld
  ports/mimxrt10xx/mpconfigport.mk
  ports/nordic/boards/common.template.ld
  ports/nordic/mpconfigport.mk
  ports/stm/boards/common_default.ld
  ports/stm/boards/common_nvm.ld
  ports/stm/boards/common_tcm.ld
  ports/stm/mpconfigport.mk
Due: none

nordic: keep the native .mpy loader off on pca10100
  ports/nordic/boards/pca10100/mpconfigboard.mk
Due: none

wifi: allow 5 GHz channels in start_ap()
  ports/espressif/common-hal/wifi/Radio.c
  ports/raspberrypi/common-hal/wifi/Radio.c
  shared-bindings/wifi/Radio.c
Due: translations, formatting

wifi: allow 5 GHz channels in Monitor
  locale/circuitpython.pot
  ports/espressif/common-hal/wifi/Monitor.c
  shared-bindings/wifi/Monitor.c
Due: translations, formatting
